<div class="spacer"></div>

<footer>
   <div class="row">
      <div class="large-6 columns">
          <p>Hosted by the UGA College of Agricultural &amp; Environmental Sciences Office of Communications.</p>
          <a href="http://uga.us1.list-manage1.com/subscribe?u=72eb6fc6166d9ff12fef55439&id=bc66cb1855" class="button large white-button">Join Our Mailing List</a>
      </div>
      <div class="large-6 columns">
          <ul class="footer-icon-list">
              <li><a href="#"><i class="fi-social-facebook"></i><span class="show-for-sr">Facebook</span></a></li>
              <li><a href="#"><i class="fi-social-twitter"></i><span class="show-for-sr">Twitter</span></a></li>
          </ul>
      </div>
   </div>
</footer>
