<header>
    <div class="row">
       <div class="large-12 columns">
          <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/NETClogo.png" alt="NETC 2017 Logo, with the tagline, Mossy Oaks and IT folks" /></a>
          <nav>
             <ul>
                <li><a href="{{site.baseurl}}/overview/index.html">Overview</a></li>
                <li><a href="{{site.baseurl}}/program/index.html">Program</a></li>
                <li><a href="{{site.baseurl}}/location/index.html">Location</a></li>
                <li><a href="{{site.baseurl}}/sponsor/index.html">Sponsors</a></li>
                <li><a href="{{site.baseurl}}/communication/index.html">Communication</a></li>
                <li><a href="{{site.baseurl}}/register/index.html" class="register" >Register</a></li>
             </ul>
          </nav>
       </div>
    </div>
</header>
