<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Donate Now Component</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Donate Now Component:</h1>
         <hr  />

      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <h3>Full Size:</h3>
         <div class="donate-now-container">
            <a href="#"><img src="../img/donate-now.png" alt="donate now button" /></a>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="large-3 columns">
         <h3>Sidebar Size:</h3>
         <div class="donate-now-container">
            <a href="#"><img src="../img/donate-now.png" alt="donate now button" /></a>
         </div>
      </div>
   </div>





   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
