<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Event List</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Event List:</h1>
         <p>The purpose of this component is to display events from our CAES master calendar. Within Adobe Experience Manager, users will have the ability to apply filters to control what type of events are displayed on their pages. The component is designed to look and work well, no matter what size the screen is - it is fully responsive. <i>Note: Only the fist item has schema.org formatting, so use that as a reference for what will go into Adobe Experience Manager.</i></p>
         <hr  />
      </div>
   </div>

   <div class="row">
       <div class="large-6 columns">
           <!-- Plain List Container -->
           <div class="plain-list-container event-list">
               <div class="component-title">
                   Event List Title
               </div>
               <!-- Plain List Item -->
               <div class="plain-list-item event" itemscope itemtype="http://schema.org/Event">
                   <!-- Calendar Icon -->
                   <div class="calendar-icon" itemprop="startDate" content="2016-08-21T13:00">
                       <div class="month">May</div>
                       <div class="day">08</div>
                   </div>
                   <!-- Title -->
                   <a class="title">
                       <span itemprop="name">Agroforestry & Wildlife Field Day</span>
                   </a>
                   <!-- Subtitle / Publish Information -->
                   <span class="subtitle">
                       <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                           <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                               <span itemprop="addressLocality">Greensboro</span>,
                               <span itemprop="addressRegion">GA</span>
                           </span>
                           at
                           <span itemprop="name">Greensboro County School System</span>
                       </span>
                   </span>
                   <!-- Full Date & Time -->
                   <span class="full-date">05/08/16 - 05/09/16</span>
                   <span class="event-time">3pm - 5pm</span>
                   <!-- Description / Summary -->
                   <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
               </div>

            <!-- Plain List Item -->
            <div class="plain-list-item event" itemscope itemtype="http://schema.org/Event">
               <!-- Calendar Icon -->
               <div class="calendar-icon" itemprop="startDate" content="2016-08-21T13:00">
                  <div class="month">May</div>
                  <div class="day">08</div>
               </div>
               <!-- Title -->
               <a class="title" itemprop="url">
                  <span itemprop="name">Agroforestry & Wildlife Field Day</span>
               </a>
               <!-- Subtitle / Publish Information -->
               <span class="subtitle">
                  3pm |
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                     <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">Greensboro</span>,
                        <span itemprop="addressRegion">GA</span>
                     </span>
                     at
                     <span itemprop="name">Greensboro County School System</span>
                  </span>
               </span>
               <!-- Full Date & Time -->
               <span class="full-date">05/08/16</span>
               <span class="event-time">3pm - 5pm</span>
               <!-- Description / Summary -->
               <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
            </div>

            <!-- Plain List Item -->
            <div class="plain-list-item event" itemscope itemtype="http://schema.org/Event">
               <!-- Calendar Icon -->
               <div class="calendar-icon" itemprop="startDate" content="2016-08-21T13:00">
                  <div class="month">May</div>
                  <div class="day">08</div>
               </div>
               <!-- Title -->
               <a class="title" itemprop="url">
                  <span itemprop="name">Agroforestry & Wildlife Field Day</span>
               </a>
               <!-- Subtitle / Publish Information -->
               <span class="subtitle">
                  3pm |
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                     <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">Greensboro</span>,
                        <span itemprop="addressRegion">GA</span>
                     </span>
                     at
                     <span itemprop="name">Greensboro County School System</span>
                  </span>
               </span>
               <!-- Full Date & Time -->
               <span class="full-date">05/08/16 - 05/09/16</span>
               <span class="event-time">3pm - 5pm</span>
               <!-- Description / Summary -->
               <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
            </div>

            <hr />
            <a class="button small hollow read-more" href="#">See More Events</a>

         </div>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">

         <!-- Tiled List Container -->


      </div>
   </div>




   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
