<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Event Calendar</title>
   <link rel="stylesheet" href="../css/app.css">
   <link rel="stylesheet" href="../css/jquery-ui.theme.min.css">
   <link rel="stylesheet" href="../css/jquery-ui.min.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Events Calendar:</h1>
         <p>The purpose of this template component is to give the user the ability to have a page that lists all upcoming events.  It has the ability to set a featured event, while still showing upcoming events below.  We were able to re-utilize the Event List component and give it a pagination functionality (seen at the bottom of the mockup), so that users could click through the list of upcoming events.</p>
         <hr />
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <!-- Featured Story -->
         <a href="#">
            <figure class="featured-event">
               <!-- Image -->
               <img class="featured-image" src="../img/farm2.jpg" alt="a rolling field of crops and a barn" />
               <!-- Caption -->
               <figcaption>
                  Featured Event:
                  <span class="caption-tagline">
                     Agroforestry & Wildlife Field Day
                  </span>
               </figcaption>
            </figure>
         </a>
      </div>
      <!-- <div class="large-3 medium-5 hide-for-small-only columns">
         <div id="datepicker"></div>
      </div> -->
   </div>

   <div class="row">
      <div class="large-12 columns">

         <!-- Plain List Container -->
         <div class="plain-list-container event-list">
            <div class="component-title">
               Event List Title (Plain List)
            </div>

            <!-- Plain List Item -->
            <div class="plain-list-item event" itemscope itemtype="http://schema.org/Event">
               <!-- Calendar Icon -->
               <div class="calendar-icon" itemprop="startDate" content="2016-08-21T13:00">
                  <div class="month">May</div>
                  <div class="day">08</div>
               </div>
               <!-- Title -->
               <a class="title" itemprop="url">
                  <span itemprop="name">Agroforestry & Wildlife Field Day</span>
               </a>
               <!-- Subtitle / Publish Information -->
               <span class="subtitle">
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                     <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">Greensboro</span>,
               <span itemprop="addressRegion">GA</span>
               </span>
               at
               <span itemprop="name">Greensboro County School System</span>
               </span>
               </span>
               <!-- Full Date & Time -->
               <span class="full-date">05/08/16 - 05/09/16</span>
               <span class="event-time">3pm - 5pm</span>
               <!-- Description / Summary -->
               <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
            </div>

            <!-- Plain List Item -->
            <div class="plain-list-item event" itemscope itemtype="http://schema.org/Event">
               <!-- Calendar Icon -->
               <div class="calendar-icon" itemprop="startDate" content="2016-08-21T13:00">
                  <span class="month">May</span>
                  <span class="day">08</span>
               </div>
               <!-- Title -->
               <a class="title" itemprop="url">
                  <span itemprop="name">Agroforestry & Wildlife Field Day</span>
               </a>
               <!-- Subtitle / Publish Information -->
               <span class="subtitle">
                  3pm |
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                     <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">Greensboro</span>,
               <span itemprop="addressRegion">GA</span>
               </span>
               at
               <span itemprop="name">Greensboro County School System</span>
               </span>
               </span>
               <!-- Full Date & Time -->
               <span class="full-date">05/08/16</span>
               <span class="event-time">3pm - 5pm</span>
               <!-- Description / Summary -->
               <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
            </div>

            <!-- Plain List Item -->
            <div class="plain-list-item event" itemscope itemtype="http://schema.org/Event">
               <!-- Calendar Icon -->
               <div class="calendar-icon" itemprop="startDate" content="2016-08-21T13:00">
                  <span class="month">May</span>
                  <span class="day">08</span>
               </div>
               <!-- Title -->
               <a class="title" itemprop="url">
                  <span itemprop="name">Agroforestry & Wildlife Field Day</span>
               </a>
               <!-- Subtitle / Publish Information -->
               <span class="subtitle">
                  3pm |
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                     <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">Greensboro</span>,
               <span itemprop="addressRegion">GA</span>
               </span>
               at
               <span itemprop="name">Greensboro County School System</span>
               </span>
               </span>
               <!-- Full Date & Time -->
               <span class="full-date">05/08/16 - 05/09/16</span>
               <span class="event-time">3pm - 5pm</span>
               <!-- Description / Summary -->
               <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
            </div>

            <hr />
            <ul class="pagination" role="navigation" aria-label="Pagination">
               <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
               <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
               <li><a href="#" aria-label="Page 2">2</a></li>
               <li><a href="#" aria-label="Page 3">3</a></li>
               <li><a href="#" aria-label="Page 4">4</a></li>
               <li class="ellipsis" aria-hidden="true"></li>
               <li><a href="#" aria-label="Page 12">12</a></li>
               <li><a href="#" aria-label="Page 13">13</a></li>
               <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
            </ul>

         </div>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">

         <!-- Tiled List Container -->


      </div>
   </div>




   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>

   <script>
      $(function() {
         $("#datepicker").datepicker();
      });
   </script>

</body>

</html>
