<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAES Featured Content</title>
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>

    <div class="row">
        <div class="large-12 columns">
            <h1>CAES Featured Content:</h1>
            <p>The purpose of this component is to give users the ability to display custom content that they can either enter manually, pull from another page, or pull from our event/calendar database.  The user is able to edit all text, both in the title and body, add a link, and change the color of the header.  See our style guide for meanings and use cases of those colors.</p>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h2>Three Column Layout:</h2>
        </div>
    </div>

    <div class="row">
      <div class="large-4 medium-4 columns">
          <!-- Plain List Container -->
          <div class="plain-list-container academics">
             <div class="component-title">
                Academics
             </div>

             <img src="http://johnfrenchxyz.github.io/UGA/CAES/img/academics.jpg" />
             <a class="title">Now Accepting Leadership UGA Applications</a>
             <p class="description">Leadership UGA recognizes outstanding student leaders on our campus.</p>
             <!-- Read More Section -->
             <hr />
             <a class="button small hollow read-more" href="#">Read More</a>

          </div>
      </div>
      <div class="large-4 medium-4 columns">
          <!-- Plain List Container -->
          <div class="plain-list-container research">
             <div class="component-title">
                Research
             </div>

             <img src="http://johnfrenchxyz.github.io/UGA/CAES/img/research.jpg" />
             <a class="title">Francisco Diez is new director of UGA Center for Food Safety</a>
             <p class="description">Food scientist Dr. Francisco Diez transitions into new role as director of the UGA Center for Food Safety in Griffin, Georgia.</p>
             <!-- Read More Section -->
             <hr />
             <a class="button small hollow read-more" href="#">Read More</a>

          </div>
      </div>
      <div class="large-4 medium-4 columns">
          <!-- Plain List Container -->
          <div class="plain-list-container extension">
             <div class="component-title">
                UGA Extension
             </div>

             <iframe width="100%" height="auto" src="https://www.youtube.com/embed/BxWnT0TNQdw?modestbranding=1&autohide=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
             <a class="title">Pollinator Tips With Kris Braman</a>
             <p class="description">Kris Braman provides tips for attracting more pollinators to your flower garden.</p>
             <!-- Read More Section -->
             <hr />
             <a class="button small hollow read-more" href="#">Read More</a>

          </div>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <h2>Two Columns Layout:</h2>
      </div>
   </div>

   <div class="row">
      <div class="large-6 medium-6 columns">
          <!-- Plain List Container -->
          <div class="plain-list-container academics">
             <div class="component-title">
                Academics
             </div>

             <img src="http://johnfrenchxyz.github.io/UGA/CAES/img/academics.jpg" />
             <a class="title">Now Accepting Leadership UGA Applications</a>
             <p class="description">Leadership UGA recognizes outstanding student leaders on our campus.</p>
             <!-- Read More Section -->
             <hr />
             <a class="button small hollow read-more" href="#">Read More</a>

          </div>
      </div>
      <div class="large-6 medium-6 columns">
          <!-- Plain List Container -->
          <div class="plain-list-container extension">
             <div class="component-title">
                UGA Extension
             </div>

             <iframe width="100%" height="auto" src="https://www.youtube.com/embed/BxWnT0TNQdw?modestbranding=1&autohide=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
             <a class="title">Pollinator Tips With Kris Braman</a>
             <p class="description">Kris Braman provides tips for attracting more pollinators to your flower garden.</p>
             <!-- Read More Section -->
             <hr />
             <a class="button small hollow read-more" href="#">Read More</a>

          </div>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">
         <h2>One Columns Layout:</h2>
      </div>
   </div>

   <div class="row">
      <div class="large-12 medium-12 columns">
          <!-- Plain List Container -->
          <div class="plain-list-container extension">
             <div class="component-title">
                UGA Extension
             </div>

             <img src="http://kingofwallpapers.com/people/people-005.jpg" />
             <a class="title">Pollinator Tips With Kris Braman</a>
             <p class="description">Kris Braman provides tips for attracting more pollinators to your flower garden.</p>
             <!-- Read More Section -->
             <hr />
             <a class="button small hollow read-more" href="#">Read More</a>

          </div>
      </div>
   </div>





    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/app.js"></script>
    <!-- For Expanding Search -->
    <script src="../js/search/classie.js"></script>
    <script src="../js/search/uisearch.js"></script>
    <script>
        new UISearch(document.getElementById('sb-search'));
    </script>
</body>

</html>
