<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Hall of Fame</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Hall of Fame:</h1>
         <hr />
      </div>
   </div>

   <!-- Hall of Fame -->
   <div class="row" data-equalizer id="hall-of-fame">
      <!-- Person -->
      <div class="large-3 medium-4 small-6 columns">
         <div class="hall-of-famer" data-equalizer-watch>
            <a href=""><img class="thumbnail" src="https://s-media-cache-ak0.pinimg.com/236x/a3/d3/1c/a3d31cc1260617cecc0bef9754cd3978.jpg" alt="PORTRAIT OF *NAME OF PERSON*" /></a>
            <a class="name">Ron Swanson</a>
            <br />
            <span class="date">(1972)</span>
         </div>
      </div>
      <!-- Person -->
      <div class="large-3 medium-4 small-6 columns">
         <div class="hall-of-famer" data-equalizer-watch>
            <a href=""><img class="thumbnail" src="https://s-media-cache-ak0.pinimg.com/236x/a3/d3/1c/a3d31cc1260617cecc0bef9754cd3978.jpg" alt="PORTRAIT OF *NAME OF PERSON*" /></a>
            <a class="name">Ron Swanson</a>
            <br />
            <span class="date">(1972)</span>
         </div>
      </div>
      <!-- Person -->
      <div class="large-3 medium-4 small-6 columns">
         <div class="hall-of-famer" data-equalizer-watch>
            <a href=""><img class="thumbnail" src="https://s-media-cache-ak0.pinimg.com/236x/a3/d3/1c/a3d31cc1260617cecc0bef9754cd3978.jpg" alt="PORTRAIT OF *NAME OF PERSON*" /></a>
            <a class="name">Ron Swanson</a>
            <br />
            <span class="date">(1972)</span>
         </div>
      </div>
      <!-- Person -->
      <div class="large-3 medium-4 small-6 columns">
         <div class="hall-of-famer" data-equalizer-watch>
            <a href=""><img class="thumbnail" src="https://s-media-cache-ak0.pinimg.com/236x/a3/d3/1c/a3d31cc1260617cecc0bef9754cd3978.jpg" alt="PORTRAIT OF *NAME OF PERSON*" /></a>
            <a class="name">Ron Swanson</a>
            <br />
            <span class="date">(1972)</span>
         </div>
      </div>
      <!-- Person -->
      <div class="large-3 medium-4 small-6 columns">
         <div class="hall-of-famer" data-equalizer-watch>
            <a href=""><img class="thumbnail" src="https://s-media-cache-ak0.pinimg.com/236x/a3/d3/1c/a3d31cc1260617cecc0bef9754cd3978.jpg" alt="PORTRAIT OF *NAME OF PERSON*" /></a>
            <a class="name">Ron Swanson</a>
            <br />
            <span class="date">(1972)</span>
         </div>
      </div>
      <!-- Person -->
      <div class="large-3 medium-4 small-6 end columns">
         <div class="hall-of-famer" data-equalizer-watch>
            <a href=""><img class="thumbnail" src="https://s-media-cache-ak0.pinimg.com/236x/a3/d3/1c/a3d31cc1260617cecc0bef9754cd3978.jpg" alt="PORTRAIT OF *NAME OF PERSON*" /></a>
            <a class="name">Ron Swanson</a>
            <br />
            <span class="date">(1972)</span>
         </div>
      </div>
   </div>




   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
