<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Image Gallery</title>
   <link rel="stylesheet" href="../css/app.css">
   <link rel="stylesheet" href="../css/lightbox.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Image Gallery:</h1>
         <hr  />

         <div class="image-gallery-container lightbox-gallery">
            <div>
               <a href="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" title="" data-lightbox="gallery">
                  <img class="thumbnail" src="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" alt="" title="">
               </a>
            </div>
            <div>
               <a href="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" title="" data-lightbox="gallery">
                  <img class="thumbnail" src="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" alt="" title="">
               </a>
            </div>
            <div>
               <a href="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" title="" data-lightbox="gallery">
                  <img class="thumbnail" src="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" alt="" title="">
               </a>
            </div>
            <div>
               <a href="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" title="" data-lightbox="gallery">
                  <img class="thumbnail" src="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" alt="" title="">
               </a>
            </div>
            <div>
               <a href="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" title="" data-lightbox="gallery">
                  <img class="thumbnail" src="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" alt="" title="">
               </a>
            </div>
            <div>
               <a href="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" title="" data-lightbox="gallery">
                  <img class="thumbnail" src="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" alt="" title="">
               </a>
            </div>
            <div>
               <a href="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" title="" data-lightbox="gallery">
                  <img class="thumbnail" src="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" alt="" title="">
               </a>
            </div>
            <div>
               <a href="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" title="" data-lightbox="gallery">
                  <img class="thumbnail" src="http://lovelace-media.imgix.net/uploads/413/f4becb20-a4f4-0132-44f6-0ebc4eccb42f.jpg?" alt="" title="">
               </a>
            </div>
         </div>

      </div>
   </div>





   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script src="../js/lightbox.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
