<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Components</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Components:</h1>
         <p>This is the list of all elements that our users can utilize to customize and build their pages in Adobe Experience Manger.  The static mockups of these components have been combined with the Java-based AEM framework to allow content managers to drag and drop these components into their site.  The dynamic components pull information from various databases, and the static components can be manuipulated and changed by the users as needed.</p>
         <hr  />
         <h2>Event/Calendar Components:</h2>
         <ul>
             <li><a href="event-list.html">Events Sidebar</a></li>
             <li><a href="events-calendar.html">Events Calendar</a></li>
             <li><a href="event-entry.html">Events Entry</a></li>
             <li><a href="event-page.html">Event Page</a></li>
         </ul>

         <h2>News Components:</h2>
         <ul>
             <li><a href="news-story-page.html">News Story Page</a></li>
             <li><a href="news-sidebar.html">News Sidebar</a></li>
             <li><a href="news-main-page.html">News Main Page</a></li>
             <li><a href="news-subscription-template.html">News Subscription Page</a></li>
         </ul>

         <h2>Personnel Components:</h2>
         <ul>
             <li><a href="personnel-directory.html">Personnel Directory</a></li>
             <li><a href="personnel-page.html">Personnel Page</a></li>
             <li><a href="profile-page-template.html">Profile Page Template</a></li>
             <li><a href="profile.html">Profile Component</a></li>
             <li><a href="hall-of-fame.html">Portrait Gallery</a></li>
             <li><a href="personnel-modal.html">Personnel Modal</a></li>
         </ul>

         <h2>Content Components:</h2>
         <ul>
            <li><a href="featured-content.html">Featured Content</a></li>
            <li><a href="plain-list.html">Plain List</a></li>
            <li><a href="tiled-list.html">Tiled List</a></li>
            <li><a href="publication-list.html">Publication List</a></li>
            <li><a href="blog-post-list.html">Blog Post List</a></li>
            <li><a href="personnel-list.html">Personnel List</a></li>
            <li><a href="image-slider.html">Image Slider</a></li>
            <li><a href="image-gallery.html">Image Gallery</a></li>
            <li><a href="panel-component.html">Panel Component</a></li>
         </ul>

         <h2>Communication Components:</h2>
         <ul>
            <li><a href="social-media-icons.html">Social Media Icons</a></li>
            <li><a href="scholarships.html">Scholarships</a></li>
            <li><a href="non-personnel.html">Non-Personnel</a></li>
            <li><a href="donate-now.html">Donate Now</a></li>
         </ul>
      </div>
   </div>





   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <!-- <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script> -->
   <!-- <script>
      new UISearch(document.getElementById('sb-search'));
   </script> -->
</body>

</html>
