<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CAES News Main Page</title>
	<link rel="stylesheet" href="../css/app.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

	<!-- Skip Links -->
	<a tabindex="1" class="show-on-focus" href="#jumpToMenu">Skip to Main Menu</a>
	<a tabindex="2" class="show-on-focus" href="#mainContent">Skip to Content</a>

	<!-- Header Section -->
	<header>
		<div class="college-branding">
			<div class="row small-uncollapse medium-uncollapse large-uncollapse xxlarge-uncollapse">
				<div class="large-12 columns">
					<!-- UGA Logo -->
					<a href=""><img class="uga-logo" src="../img/uga-logo.png" alt="The UGA Arches Logo"</a>
					<!-- Search Trigger Button -->
					<a href="#" id="searchTrigger"><i class="material-icons">search</i></a>
					<!-- Seach Input Form -->
					<form class="search-form">
						<label>
							<input id="searchField" type="text" placeholder="Search..." />
						</label>
						<!-- Search Submit -->
						<button type="submit"><i class="material-icons">search</i></button>
						<!-- Search Close -->
						<a href="#" id="searchClose"><i class="material-icons">clear</i></a>
					</form>
					<!-- Homepage People Menu -->
					<ul class="homepage-people-menu hide-for-small-only">
						<li><a href="#">Campuses</a></li>
						<li><a href="#">Students</a></li>
						<li><a href="#">Alumni</a></li>
						<li><a href="#">Faculty/Staff</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- CAES Branding Section -->
		<div class="row">
			<div class="large-12 columns">
				<a href="index.html"><h1 id="caesBranding"><span>College Of </span>Agricultural &#38; Environmental Sciences</h1></a>
			</div>
		</div>

	</header>

	<div class="news-main-page">
		<div class="row">
			<div class="large-9 columns">
				<nav>
					<div class="row small-collapse medium-collapse large-collapse xxlarge-uncollapse">
						<div class="large-12 columns">
							<div class="title-bar" data-responsive-toggle="mainNav" data-hide-for="medium">
								<button class="menu-icon" type="button" data-toggle></button>
								<div class="title-bar-title">Menu</div>
							</div>

							<ul class="vertical medium-horizontal menu" id="mainNav" data-responsive-menu="drilldown medium-dropdown" data-toptions="closingTime:100; closeOnClick: true;">
								<li>
									<a id="jumpToMenu">
	                                        Academics</a>
									<ul class="menu vertical">
										<li class="show-for-small-only"><a>Academics Home</a></li>
										<li><a>Prospective Students</a></li>
										<li><a>Current Students</a></li>
										<li><a>Undergraduate Programs</a></li>
										<li><a>Graduate Programs</a></li>
										<li><a>Experiential Learning</a></li>
										<li><a>Extended Campuses</a></li>
										<li><a>Student News</a></li>
										<li><a>Office of Diversity Affairs</a></li>
										<li><a>Office of Academic Affairs</a></li>
									</ul>
								</li>
								<li>
									<a>Departments</a>
									<ul class="menu vertical">
										<li class="show-for-small-only">
											<a>Departments Home</a></li>
										<li>
											<a>Agricultural &amp; Applied Economics</a></li>
										<li>
											<a>Agricultural Leadership, Education &amp; Communication</a></li>
										<li>
											<a>Animal &amp; Dairy Science</a></li>
										<li>
											<a>Crop &amp; Soil Sciences</a></li>
										<li>
											<a>Entomology</a></li>
										<li>
											<a>Food Science &amp; Technology</a></li>
										<li>
											<a>Horticulture</a></li>
										<li>
											<a>Plant Pathology</a></li>
										<li>
											<a>Poultry Science</a></li>
									</ul>
								</li>
								<li>
									<a>Research</a>
									<ul class="menu vertical">
										<li class="show-for-small-only">
											<a>Research Home</a></li>
										<li>
											<a>Research Highlights</a></li>
										<li>
											<a>Research News</a></li>
										<li>
											<a>Impacts</a></li>
										<li>
											<a>Commodities</a></li>
										<li>
											<a>Centers &amp; Institutes</a></li>
										<li>
											<a>Experiment Stations</a></li>
										<li>
											<a>Research &amp; Education Centers</a></li>
										<li>
											<a>Office of Associate Dean for Research</a></li>
									</ul>
								</li>
								<li>
									<a>Extension &amp; Outreach</a>
									<ul class="menu vertical">
										<li class="show-for-small-only">
											<a>Extension &amp; Outreach Home</a></li>
										<li>
											<a>UGA Extension</a></li>
										<li>
											<a>Georgia 4-H</a></li>
										<li> <a>High School Programs</a> </li>
										<li>
											<a>Environmental Education</a></li>
										<li>
											<a>Economic Development</a></li>
										<li>
											<a>Urban Programs</a></li>
										<li>
											<a>Office of Associate Dean for Extension</a></li>
									</ul>
								</li>
								<li>
									<a>Global</a>
									<ul class="menu vertical">
										<li class="show-for-small-only">
											<a>Global Home</a></li>
										<li>
											<a>Feed the Future Peanut &amp; Mycotoxin Innovation Lab</a></li>
										<li> <a>International Agriculture Day</a> </li>
										<li>
											<a>Office of Global Programs</a></li>
										<li> <a>Study Abroad</a> </li>
									</ul>
								</li>
								<li>
									<a>About</a>
									<ul class="menu vertical">
										<li class="show-for-small-only">
											<a>About Home</a></li>
										<li>
											<a>Overview &amp; History</a></li>
										<li>
											<a>Hot Topics</a></li>
										<li>
											<a>Signature Events</a></li>
										<li>
											<a>Administration</a></li>
										<li>
											<a>Boards &amp; Committees</a></li>
										<li>
											<a>Personnel Directory</a></li>
										<li>
											<a>Jobs</a></li>
										<li>
											<a>Offices</a></li>
										<li>
											<a>A-Z Index</a></li>
									</ul>
								</li>

								<li class="show-for-small-only" id="people">
									<a>Campuses & People</a>
									<ul class="menu vertical">
										<li><a>Campuses</a></li>
										<li><a>Students</a></li>
										<li><a>Alumni</a></li>
										<li><a>Faculty/Staff</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<!-- Featured Story -->
				<!-- <a href="#">
               <figure class="featured-story">
                  <img class="featured-image" src="https://goo.gl/vB0nRe" alt="honeycomb" />
                  <figcaption>
                     Featured Story:
                     <span class="caption-tagline">
                        Beekeeping Basics & More Tips
                     </span>
                  </figcaption>
               </figure>
            </a> -->
				<!-- Image Slider -->
				<h2>CAES News</h2>
				<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
					<ul class="orbit-container">
						<button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
						<button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
						<li class="is-active orbit-slide">
							<a href="#">
								<img class="orbit-image" src="../img/news/01.jpg" alt="Space" />
								<figcaption class="orbit-caption">
									<span>High-heat, low rainfall persists in Georgia</span>
									<span class="caption-tagline">Sets the stage for harmful algal blooms and cyanobacteria</span>
								</figcaption>
							</a>
						</li>
						<li class="orbit-slide">
							<a href="#">
								<img class="orbit-image" src="../img/news/02.jpg" alt="Space" />
								<figcaption class="orbit-caption">Registration open for second year of Extension Journeyman Farmers program</figcaption>
							</a>
						</li>
						<li class="orbit-slide">
							<img class="orbit-image" src="../img/news/03.jpg" alt="Space" />
							<figcaption class="orbit-caption">
								<span>Georgia heads into August with record highs</span>
								<span class="caption-tagline">State sees record number of days with temps above 95&deg;</span>
							</figcaption>
						</li>
					</ul>
					<!-- <nav class="orbit-bullets">
                  <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                  <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                  <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
               </nav> -->
				</div>

				<!-- Additional Stories -->
				<div class="news-list">
					<!-- Tiled List Component Title -->
					<div class="component-title">
						Recent Articles
					</div>
					<!-- Tiled List Container -->
					<div class="tiled-list-container">

						<!-- Tiled List Item -->
						<div class="tiled-list-pad">
							<div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
								<!-- Image -->
								<img itemtype="image" src="../img/news/04.jpg" />
								<!-- Title -->
								<a class="title" itemprop="headline">Georgia's dryland peanuts suffering from lack of rain</a>
								<!-- Description / Summary -->
								<p class="description" itemprop="description">Until more rain falls on Georgia’s parched dryland peanut crop, the University of Georgia peanut agronomist Scott Monfort says peanut farmers should stop applying other treatments to their crops.</p>
								<span class="subtitle">Author: <span itemprop="author">Clint Thompson</span></span>
								<!-- Subtitle / Publish Information -->
								<meta itemprop="datePublished" content="2016-07-21" />
								<span class="subtitle">Published 07/21/2016 by <span itemprop="publisher">UGA FACES</span></span>
							</div>
						</div>

						<!-- Tiled List Item -->
						<div class="tiled-list-pad">
							<div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
								<!-- Image -->
								<img itemtype="image" src="../img/news/05.jpg" />
								<!-- Title -->
								<a class="title" itemprop="headline">New generation of researchers helps peach growers and consumers</a>
								<!-- Description / Summary -->
								<p class="description" itemprop="description">Two years into the job, University of Georgia peach specialist Dario Chavez is pleased with the development of his research program. The new research peach orchard in Griffin, Georgia, is filled with over 130 different peach tree varieties, several newly grafted potential varieties and a host of trees for irrigation and fertilization studies, all in an effort to help growers of the crop that gave Georgia its nickname — the “Peach State.”</p>
								<span class="subtitle">Author: <span itemprop="author">Sharon Dowdy</span></span>
								<!-- Subtitle / Publish Information -->
								<meta itemprop="datePublished" content="2016-07-21" />
								<span class="subtitle">Published 07/21/2016 by <span itemprop="publisher">UGA FACES</span></span>
							</div>
						</div>

						<!-- Tiled List Item -->
						<div class="tiled-list-pad">
							<div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
								<!-- Image -->
								<!-- <img itemtype="image" src="https://pixabay.com/static/uploads/photo/2014/11/14/16/39/honeycomb-530987_960_720.jpg" /> -->
								<!-- Title -->
								<a class="title" itemprop="headline">Home plumbing can contribute to lead in tap water but UGA Extension can help</a>
								<!-- Description / Summary -->
								<p class="description" itemprop="description">Since the water crisis in Flint, Michigan made headlines in late 2015, parents across the country have started looking at their kitchen taps a little suspiciously.</p>
								<span class="subtitle">Author: <span itemprop="author">Merritt Melancon</span></span>
								<!-- Subtitle / Publish Information -->
								<meta itemprop="datePublished" content="2016-07-21" />
								<span class="subtitle">Published 07/21/2016 by <span itemprop="publisher">UGA FACES</span></span>
							</div>
						</div>

						<!-- Tiled List Item -->
						<div class="tiled-list-pad">
							<div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
								<!-- Image -->
								<img itemtype="image" src="../img/news/06.jpg" />
								<!-- Title -->
								<a class="title" itemprop="headline">UGA turfgrass research field day just weeks away</a>
								<!-- Description / Summary -->
								<p class="description" itemprop="description">Whether you're a homeowner, new landscape company owner or a veteran golf course superintendent, you'll find the latest research-based information on growing and maintaining turfgrass at the University of Georgia Turfgrass Research Field Day.</p>
								<span class="subtitle">Author: <span itemprop="author">Sharon Dowdy</span></span>
								<!-- Subtitle / Publish Information -->
								<meta itemprop="datePublished" content="2016-07-21" />
								<span class="subtitle">Published 07/21/2016 by <span itemprop="publisher">UGA FACES</span></span>
							</div>
						</div>

						<!-- Tiled List Item -->
						<div class="tiled-list-pad">
							<div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
								<!-- Image -->
								<img itemtype="image" src="../img/news/07.jpg" />
								<!-- Title -->
								<a class="title" itemprop="headline">Homeowners advised to monitor chinch bug damage</a>
								<!-- Description / Summary -->
								<p class="description" itemprop="description">Georgia lawns are looking parched thanks to drought conditions statewide, but the lack of rain has also opened the door for chinch bugs, a major dry weather pest of St. Augustinegrass and other turfgrass lawns.</p>
								<span class="subtitle">Author: <span itemprop="author">Clint Thompson</span></span>
								<!-- Subtitle / Publish Information -->
								<meta itemprop="datePublished" content="2016-07-20" />
								<span class="subtitle">Published 07/20/2016 by <span itemprop="publisher">UGA FACES</span></span>
							</div>
						</div>

						<!-- Tiled List Item -->
						<div class="tiled-list-pad">
							<div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
								<!-- Image -->
								<!-- <img itemtype="image" src="https://pixabay.com/static/uploads/photo/2014/11/14/16/39/honeycomb-530987_960_720.jpg" /> -->
								<!-- Title -->
								<a class="title" itemprop="headline">Stay hydrated on hot summer days by drinking plenty of water</a>
								<!-- Description / Summary -->
								<p class="description" itemprop="description">It’s July in Georgia and that means one thing: heat. According to the Weather Channel, we’ve had average temperatures hovering at 90 degrees Fahrenheit or higher since the beginning of summer, and there seems to be no end in sight for high temperatures.</p>
								<span class="subtitle">Author: <span itemprop="author">Keishon Thomas</span></span>
								<!-- Subtitle / Publish Information -->
								<meta itemprop="datePublished" content="2016-07-12" />
								<span class="subtitle">Published 07/12/2016 by <span itemprop="publisher">UGA FACES</span></span>
							</div>
						</div>

						<div class="tiled-list-pad">
							<div class="tiled-list-item">
								<a href="#" class="button large expanded">Read More News</a>
							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="large-3 columns">
				<!-- Subscribe -->
				<a href="#" class="button expanded subscribe"> <i class="fi-rss"></i> Subscribe</a>
				<!-- News Filters -->
				<div class="plain-list-container filters-container">
					<div class="component-title">
						News Filters
					</div>
					<form class="news-search">
						<div class="row">
							<div class="large-12 columns">
								<label for="newsSearch">Search News:</label>
								<div class="input-group">
									<input id="newsSearch" class="input-group-field" type="text">
									<div class="input-group-button">
										<input type="submit" class="button" value="Search">
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="filters">
						<a class="filter-control"><a class="filter-control"><input id="agriculture" type="checkbox"><label for="agriculture">Agriculture</label></a></a>
						<ul class="subfilters">
							<li><input id="agrotourism" type="checkbox"><label for="agrotourism">Agrotourism</label></a></li>
							<li><a href="#">Agrosecurity</a></li>
							<li><a href="#">Animal Disease</a></li>
							<li><a href="#">Animal Nutrition</a></li>
							<li><a href="#">Beef</a></li>
						</ul>
						<br />
						<a class="filter-control">Departments</a>
						<ul class="subfilters">
							<li><a href="#">Agricultural and Applied Economics</a></li>
							<li><a href="#">Agricultural Leadership, Education and Communication</a></li>
							<li><a href="#">Animal and Dairy Science</a></li>
							<li><a href="#">Crop and Soil Sciences</a></li>
							<li><a href="#">Entomology</a></li>
							<li><a href="#">Food Science and Technology</a></li>
							<li><a href="#">Horticulture</a></li>
							<li><a href="#">Plant Pathology</a></li>
							<li><a href="#">Poultry Science</a></li>
						</ul>
						<br />
						<a class="filter-control">Economics</a>
						<ul class="subfilters">
							<li><a href="#">Credit</a></li>
							<li><a href="#">Economy</a></li>
							<li><a href="#">Farm Gate</a></li>
							<li><a href="#">Food Prices</a></li>
							<li><a href="#">Industry</a></li>
						</ul>
					</div>
				</div>
				<!-- For the Media -->
				<div class="plain-list-container filters-container">
					<div class="component-title">
						For the Media
					</div>
					<ul class="filters">
						<li><a class="filter-control">Newswire</a></li>
						<li><a class="filter-control">Sources</a></li>
						<li><a class="filter-control">Special Sections</a></li>
						<li><a class="filter-control">About</a></li>
					</ul>
				</div>
				<div class="plain-list-container filters-container">
					<div class="component-title">
						Additional Resources
					</div>
					<ul class="filters">
						<li><a class="filter-control">Events</a></li>
						<li><a class="filter-control">Publications</a></li>
						<li><a class="filter-control">CAES Flickr</a></li>
						<li><a class="filter-control">CAES YouTube Channel</a></li>
						<li><a class="filter-control">Extension YouTube Channel</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>



	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/what-input/what-input.js"></script>
	<script src="../bower_components/foundation-sites/dist/foundation.js"></script>
	<script src="../js/app.js"></script>
	<!-- For Expanding Search -->
	<script src="../js/search/classie.js"></script>
	<script src="../js/search/uisearch.js"></script>
	<script>
		new UISearch(document.getElementById('sb-search'));
	</script>
</body>

</html>
