<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES News Main Page</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES News Main:</h1>
         <p></p>
         <hr />
      </div>
   </div>

   <div class="news-main-page">
      <div class="row">
         <div class="large-9 columns">
            <!-- Featured Story -->
            <a href="#">
               <figure class="featured-story">
                  <!-- Image -->
                  <img class="featured-image" src="https://goo.gl/vB0nRe" alt="honeycomb" />
                  <!-- Caption -->
                  <figcaption>
                     Featured Story:
                     <span class="caption-tagline">
                        Beekeeping Basics & More Tips
                     </span>
                  </figcaption>
               </figure>
            </a>

            <!-- Additional Stories -->
            <div class="publication-list news-list">
               <!-- Tiled List Component Title -->
               <div class="component-title">
                  News Tiled List (Not Sidebar)
               </div>
               <!-- Tiled List Container -->
               <div class="tiled-list-container">

                  <!-- Tiled List Item -->
                  <div class="tiled-list-pad">
                     <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                        <!-- Image -->
                        <img itemtype="image" src="https://goo.gl/chMtup" />
                        <!-- Title -->
                        <a class="title" itemprop="headline">Beekeeping Basics</a>
                        <!-- Description / Summary -->
                        <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                        <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                        <!-- Subtitle / Publish Information -->
                        <meta itemprop="datePublished" content="2009-05-08" />
                        <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                     </div>
                  </div>

                  <!-- Tiled List Item -->
                  <div class="tiled-list-pad">
                     <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                        <!-- Image -->
                        <img itemtype="image" src="http://apps.caes.uga.edu/gafaces/Multimedia/Images/THREE_VERSION_IMAGE_2266/programassistantsmobilemarket.jpg" />
                        <!-- Title -->
                        <a class="title" itemprop="headline">Metro Mobile Markets</a>
                        <!-- Description / Summary -->
                        <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                        <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                        <!-- Subtitle / Publish Information -->
                        <meta itemprop="datePublished" content="2009-05-08" />
                        <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                     </div>
                  </div>

                  <!-- Tiled List Item -->
                  <div class="tiled-list-pad">
                     <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                        <!-- Image -->
                        <!-- <img itemtype="image" src="https://pixabay.com/static/uploads/photo/2014/11/14/16/39/honeycomb-530987_960_720.jpg" /> -->
                        <!-- Title -->
                        <a class="title" itemprop="headline">Forrestry's Economic Impact</a>
                        <!-- Description / Summary -->
                        <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                        <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                        <!-- Subtitle / Publish Information -->
                        <meta itemprop="datePublished" content="2009-05-08" />
                        <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                     </div>
                  </div>

                  <!-- Tiled List Item -->
                  <div class="tiled-list-pad">
                     <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                        <!-- Image -->
                        <img itemtype="image" src="https://goo.gl/chMtup" />
                        <!-- Title -->
                        <a class="title" itemprop="headline">Beekeeping Basics</a>
                        <!-- Description / Summary -->
                        <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                        <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                        <!-- Subtitle / Publish Information -->
                        <meta itemprop="datePublished" content="2009-05-08" />
                        <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                     </div>
                  </div>

                  <!-- Tiled List Item -->
                  <div class="tiled-list-pad">
                     <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                        <!-- Image -->
                        <img itemtype="image" src="http://apps.caes.uga.edu/gafaces/Multimedia/Images/THREE_VERSION_IMAGE_2266/programassistantsmobilemarket.jpg" />
                        <!-- Title -->
                        <a class="title" itemprop="headline">Metro Mobile Markets</a>
                        <!-- Description / Summary -->
                        <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                        <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                        <!-- Subtitle / Publish Information -->
                        <meta itemprop="datePublished" content="2009-05-08" />
                        <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                     </div>
                  </div>

                  <!-- Tiled List Item -->
                  <div class="tiled-list-pad">
                     <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                        <!-- Image -->
                        <!-- <img itemtype="image" src="https://pixabay.com/static/uploads/photo/2014/11/14/16/39/honeycomb-530987_960_720.jpg" /> -->
                        <!-- Title -->
                        <a class="title" itemprop="headline">Forrestry's Economic Impact</a>
                        <!-- Description / Summary -->
                        <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                        <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                        <!-- Subtitle / Publish Information -->
                        <meta itemprop="datePublished" content="2009-05-08" />
                        <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                     </div>
                  </div>

                  <div class="tiled-list-pad">
                     <div class="tiled-list-item">
                        <a href="#" class="button large expanded">Read More News</a>
                     </div>
                  </div>

               </div>

            </div>
         </div>
         <div class="large-3 columns">
            <div class="plain-list-container filters-container">
               <div class="component-title">
                  News Filters
               </div>
               <div class="filters">
                  <a class="filter-control">Sample Control Link</a>
                  <br />
                  <a class="filter-control">Sample Control Two</a>
                  <br />
                  <a class="filter-control">Sample Control Three</a>
               </div>
            </div>
         </div>
      </div>
   </div>



   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
