<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES News Sidebar</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES News Sidebar:</h1>
         <p>The purpose of this component is to display news articles pulled from the CAES news database.  As with the Events components, users who use this component in Adobe Experience Manger can set filters so that the only news articles that are displayed in the feed are articles that are relevant to their content.  Shown below is the plain list (stacked) and tiled list (masonry tiled) version of the component.  Users can slelect which display option they prefet for each instance of the component.</p>
         <hr  />
      </div>
   </div>

   <div class="row">
      <div class="large-8 columns">

         <!-- Plain List Container -->
         <div class="plain-list-container news-list">
            <!-- Plain List Title -->
            <div class="component-title">
               News Sidebar
            </div>
            <!-- Plain List Item -->
            <div class="plain-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
               <!-- Image -->
               <img itemtype="image" src="https://pixabay.com/static/uploads/photo/2014/11/14/16/39/honeycomb-530987_960_720.jpg" />
               <!-- Title -->
               <a class="title" itemprop="headline">Beekeeping Basics</a>
               <!-- Description / Summary -->
               <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
               <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
               <!-- Subtitle / Publish Information -->
               <meta itemprop="datePublished" content="2009-05-08" />
               <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
            </div>

            <!-- Plain List Item -->
            <div class="plain-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
               <!-- Image -->
               <img itemtype="image" src="https://c2.staticflickr.com/8/7343/9559576558_11bd0d1276_b.jpg" />
               <!-- Title -->
               <a class="title" itemprop="headline">Metro Mobile Markets</a>
               <!-- Description / Summary -->
               <p class="description" itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
               <!-- Subtitle / Publish Information -->
               <meta itemprop="datePublished" content="2009-05-08" />
               <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
            </div>

            <!-- Plain List Item -->
            <div class="plain-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
               <!-- Image -->
               <!-- <img itemtype="image" src="https://pixabay.com/static/uploads/photo/2014/11/14/16/39/honeycomb-530987_960_720.jpg" /> -->
               <!-- Title -->
               <a class="title" itemprop="headline">Forrestry's Economic Impact</a>
               <!-- Description / Summary -->
               <p class="description" itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
               <!-- Subtitle / Publish Information -->
               <meta itemprop="datePublished" content="2009-05-08" />
               <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
            </div>

            <hr />
            <a class="button small read-more" href="#">Read More News</a>

         </div>
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">

         <div class="news-list">
            <!-- Tiled List Component Title -->
            <div class="component-title">
               News Tiled List (Not Sidebar)
            </div>
            <!-- Tiled List Container -->
            <div class="tiled-list-container">

               <!-- Tiled List Item -->
               <div class="tiled-list-pad">
                  <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                     <!-- Image -->
                     <img itemtype="image" src="https://pixabay.com/static/uploads/photo/2014/11/14/16/39/honeycomb-530987_960_720.jpg" />
                     <!-- Title -->
                     <a class="title" itemprop="headline">Beekeeping Basics</a>
                     <!-- Description / Summary -->
                     <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                     <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                     <!-- Subtitle / Publish Information -->
                     <meta itemprop="datePublished" content="2009-05-08" />
                     <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                  </div>
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-pad">
                  <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                     <!-- Image -->
                     <img itemtype="image" src="https://c2.staticflickr.com/8/7343/9559576558_11bd0d1276_b.jpg" />
                     <!-- Title -->
                     <a class="title" itemprop="headline">Metro Mobile Markets</a>
                     <!-- Description / Summary -->
                     <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                     <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                     <!-- Subtitle / Publish Information -->
                     <meta itemprop="datePublished" content="2009-05-08" />
                     <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                  </div>
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-pad">
                  <div class="tiled-list-item NewsArticle" itemscope itemtype="https://schema.org/NewsArticle">
                     <!-- Image -->
                     <!-- <img itemtype="image" src="https://pixabay.com/static/uploads/photo/2014/11/14/16/39/honeycomb-530987_960_720.jpg" /> -->
                     <!-- Title -->
                     <a class="title" itemprop="headline">Forrestry's Economic Impact</a>
                     <!-- Description / Summary -->
                     <p class="description" itemprop="description">Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                     <span class="subtitle">Author: <span itemprop="author">John Doe</span></span>
                     <!-- Subtitle / Publish Information -->
                     <meta itemprop="datePublished" content="2009-05-08" />
                     <span class="subtitle">Published 05/08/1931 by <span itemprop="publisher">UGA FACES</span></span>
                  </div>
               </div>

               <div class="tiled-list-pad">
                  <div class="tiled-list-item">
                     <a href="#" class="button large expanded">Read More News</a>
                  </div>
               </div>

            </div>

         </div>

      </div>
   </div>

   <div class="spacer">

   </div>

   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
