<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Personnel Directory</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Personnel Directory:</h1>
         <p>The purpose of this component is primarily to give staff the ability to search for colleagues. The design is simple and straightforward. In phase two of the process a design overhaul will take place on this component, but for now (in order to save time) it is important that the design and layout of the component be as simple as possible. Lastly, because this is a component that many people use every day, it is important to us that the design stay consistent from the old site until we are ready to make a comprehensive update with documentation. Changing it slightly for arbitrary reasons could result in the confusion of many employees.</p>
         <hr />
      </div>
   </div>


   <div class="row">
      <div class="large-12 columns">
         <div class="personnel-directory">
            <!-- Personnel Search -->
            <span class="title">Search for Personnel</span>
            <form>
               <div class="row">
                  <div class="large-6 columns">
                     <!-- <label for="personnelSearch">Search Personnel:</label> -->
                     <div class="input-group">
                        <input id="personnelSearch" class="input-group-field" type="text">
                        <div class="input-group-button">
                           <input type="submit" class="button" value="Search">
                        </div>
                     </div>
                  </div>
               </div>
            </form>
            <!-- Personnel Group Filters -->
            <span class="title">Browse by Group</span>
            <div class="row">
               <div class="large-6 medium-6 columns">
                  <strong>College Administration:</strong>
                  <ul>
                     <li><a href="">Academic Affairs - Tifton</a></li>
                     <li><a href="">Dean and Directors Office</a></li>
                     <li><a href="">Office of Assistant Provost and Campus Director of the Griffin Campus</a></li>
                     <li><a href="">Office of Diversity Relations</a></li>
                     <li><a href="">Office of the Assistant Dean for the Tifton Campus</a></li>
                     <li><a href="">Office of the Associate Dean for Academic Affairs</a></li>
                     <li><a href="">Office of the Associate Dean for Extension</a></li>
                     <li><a href="">Office of the Associate Dean for Research</a></li>

                  </ul>
                  <strong>Academic Departments:</strong>
                  <ul>
                     <li><a href="">Agricultural &amp; Applied Economics</a></li>
                     <li><a href="">Agricultural Leadership, Education &amp; Communication</a></li>
                     <li><a href="">Animal &amp; Dairy Science</a></li>
                     <li><a href="">Crop &amp; Soil Sciences</a></li>
                     <li><a href="">Entomology</a></li>
                     <li><a href="">Food Science &amp; Technology</a></li>
                     <li><a href="">Horticulture</a></li>
                     <li><a href="">Plant Pathology</a></li>
                     <li><a href="">Poultry Science</a></li>
                  </ul>

                  <strong>Support Units:</strong>
                  <ul>
                     <li><a href="">Agricultural &amp; Environmental Services Lab (AESL)</a></li>
                     <li><a href="">CAES Business Office - Athens</a></li>
                     <li><a href="">CAES Business Office - Griffin</a></li>
                     <li><a href="">CAES Business Office - Tifton</a></li>
                     <li><a href="">Center for Agribusiness and Economic Development (CAED)</a></li>
                     <li><a href="">Center for Applied Genetic Technologies (CAGT)</a></li>
                     <li><a href="">Center for Food Safety</a></li>
                     <li><a href="">Center for Invasive Species and Ecosystem Health</a></li>
                     <li><a href="">Center of Innovation for Agribusiness</a></li>
                     <li><a href="">Continuing Education - GA Station</a></li>
                     <li><a href="">Experimental Statistics - Griffin</a></li>
                     <li><a href="">Experimental Statistics - Tifton</a></li>
                     <li><a href="">Field Research Services - Griffin</a></li>
                     <li><a href="">Field Research Services - Tifton</a></li>
                     <li><a href="">Forest Resources</a></li>
                     <li><a href="">Georgia Center for Urban Agriculture (GCUA)</a></li>
                     <li><a href="">Griffin Campus Physical Plant</a></li>
                     <li><a href="">Library - Griffin</a></li>
                     <li><a href="">Library - Tifton</a></li>
                     <li><a href="">Office of Communications and Creative Services (OCCS)</a></li>
                     <li><a href="">Office of External Relations</a></li>
                     <li><a href="">Office of Global Programs</a></li>
                     <li><a href="">Office of Information Technology (OIT) - Athens</a></li>
                     <li><a href="">Office of Information Technology (OIT) - Tifton</a></li>
                     <li><a href="">Physical Plant - Tifton</a></li>
                     <li><a href="">Plant Genetics Resources Conservation Unit</a></li>
                     <li><a href="">Plant Genome Mapping Laboratory</a></li>
                     <li><a href="">Tifton Campus Conference Center</a></li>
                  </ul>
               </div>
               <div class="large-6 medium-6 columns">
                  <strong>Locations:</strong>
                  <ul>
                     <li><a href="">Athens, CAES Campus</a></li>
                     <li><a href="">Fort Valley, FVSU Campus</a></li>
                     <li><a href="">Griffin, CAES Campus</a></li>
                     <li><a href="">Off Campus</a></li>
                     <li><a href="">Statesboro, GSU Campus</a></li>
                     <li><a href="">Tifton, CAES Campus</a></li>
                  </ul>
                  <strong>Extension:</strong>
                  <ul>
                     <li><a href="">Northeast District</a></li>
                     <li><a href="">Northwest District</a></li>
                     <li><a href="">Southeast District</a></li>
                     <li><a href="">Southwest District</a></li>
                     <li><a href="">County Offices</a></li>
                     <li><a href="">4-H &amp; Youth</a></li>
                     <li><a href="">Family &amp; Consumer Sciences</a></li>
                  </ul>
                  <strong>Research Centers:</strong>
                  <ul>
                     <li><a href="">Attapulgus Research Farm</a></li>
                     <li><a href="">C.M. Stripling Irrigation Research Park</a></li>
                     <li><a href="">J. Phil Campbell Sr. Research and Education Center</a></li>
                     <li><a href="">Mountain Research and Education Center</a></li>
                     <li><a href="">Northwest Research and Education Center</a></li>
                     <li><a href="">Southeast Research and Education Center</a></li>
                     <li><a href="">Southwest Research and Education Center</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>



   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
