<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Scholarships</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Scholarships:</h1>
         <hr  />

         <!-- Scholarships -->
         <div class="scholarship-container">
            <p class="title">Scholarship Title</p>
            <span class="description">
               The purpose of this Fellowship is to provide financial support to an outstanding CAES graduate student who was an undergraduate member of Alpha Zeta, the professional society for students and industry professionals in the agriculture and natural resources fields. Applicants must have been active members of Alpha Zeta as undergraduates. This scholarship is in memory of George Arthur Crabb.
            </span>
            <a href="" class="button large expanded">Apply Now</a>
         </div>

         <!-- Scholarships -->
         <div class="scholarship-container">
            <p class="title">Scholarship Title</p>
            <a href="" class="button large expanded disabled">Application Closed</a>
         </div>

      </div>
   </div>





   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
