<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>CAES Tiled List</title>
   <link rel="stylesheet" href="../css/app.css">
</head>

<body>

   <div class="row">
      <div class="large-12 columns">
         <h1>CAES Tiled List:</h1>
         <hr  />
      </div>
   </div>

   <div class="row">
      <div class="large-12 columns">

         <!-- Tiled List Title -->
         <div class="component-title">
            Tiled List Title
         </div>
         <!-- Tiled List Container -->
         <div class="tiled-list-container">

            <!-- Tiled List Item -->
            <div class="tiled-list-pad">
               <div class="tiled-list-item">
                  <img src="http://i.huffpost.com/gen/1264888/thumbs/o-RON-SWANSON-570.jpg?6" />
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>
            </div>

            <!-- Tiled List Item -->
            <div class="tiled-list-pad">
               <div class="tiled-list-item">
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>
            </div>

            <!-- Tiled List Item -->
            <div class="tiled-list-pad">
               <div class="tiled-list-item">
                  <img src="http://orig03.deviantart.net/cbf8/f/2011/166/c/2/ron_swanson_by_jrsly-d3izeye.jpg" />
                  <a class="title">Slightly Longer Title</a>
                  <span class="subtitle">With a Longer Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio. Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio. Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>
            </div>

            <!-- Tiled List Item -->
            <div class="tiled-list-pad">
               <div class="tiled-list-item">
                  <a class="title">Slightly Longer Title</a>
                  <span class="subtitle">With a Longer Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio. Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio. Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>
            </div>

            <!-- Tiled List Item -->
            <div class="tiled-list-pad">
               <div class="tiled-list-item">
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>
            </div>

            <!-- Tiled List Item -->
            <div class="tiled-list-pad">
               <div class="tiled-list-item">
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>
            </div>

            <!-- Tiled List Item -->
            <div class="tiled-list-pad">
               <div class="tiled-list-item">
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>
            </div>

            <div class="tiled-list-pad">
               <div class="tiled-list-item">
                  <a href="#" class="button large expanded">Read More</a>
               </div>
            </div>

         </div>

      </div>
   </div>

   <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

   <div class="row">
      <div class="large-12 columns">
         <h2>Container Test:</h2>
         <hr />
         <!-- Container Test -->
         <div style="width: 400px; border: solid 2px red;">
            <!-- Tiled List Container -->
            <div class="tiled-list-container">

               <div class="component-title">
                  Plain List Title
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-item">
                  <img src="http://i.huffpost.com/gen/1264888/thumbs/o-RON-SWANSON-570.jpg?6" />
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-item">
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-item">
                  <img src="http://orig03.deviantart.net/cbf8/f/2011/166/c/2/ron_swanson_by_jrsly-d3izeye.jpg" />
                  <a class="title">Slightly Longer Title</a>
                  <span class="subtitle">With a Longer Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio. Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio. Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-item">
                  <a class="title">Slightly Longer Title</a>
                  <span class="subtitle">With a Longer Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio. Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio. Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-item">
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-item">
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>

               <!-- Tiled List Item -->
               <div class="tiled-list-item">
                  <a class="title">Title</a>
                  <span class="subtitle">Subtitle</span>
                  <p>Aliquam aliquam posuere nisl nec molestie. Fusce dapibus finibus mi, elementum commodo diam fermentum et. Aliquam ligula mauris, lacinia eu mi et, convallis laoreet mauris. Suspendisse pretium justo est. Nulla ipsum odio.</p>
                  <hr />
                  <a class="button small hollow read-more" href="#">Read More</a>
               </div>

            </div>
         </div>
      </div>
   </div>





   <script src="../bower_components/jquery/dist/jquery.js"></script>
   <script src="../bower_components/what-input/what-input.js"></script>
   <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
   <script src="../js/app.js"></script>
   <!-- For Expanding Search -->
   <script src="../js/search/classie.js"></script>
   <script src="../js/search/uisearch.js"></script>
   <script>
      new UISearch(document.getElementById('sb-search'));
   </script>
</body>

</html>
