/*

UGA Extension County Site Template 2015/2016
Custom Variable, Mixins, and Styles by John French

Table of Contents:

1. Custom Imports
2. Global Styles
3. Typography
4. Template
   4.1 Extension Top Bar
   4.2 Header
   4.3 Navigation (Side / Off Canvas Custom Styles)
   4.4 Custom 4-H Styles
   4.5 Main Content Area
   4.6 Footer

*/



// 1. Custom Imports
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Controls what other scss files or elements are imported into these custom styles.

   // Roboto Font Import
   // This font is imported to be used as the default font family in the typography section below.
   @import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

   // Foundation Icon Font Import
   @import "../fonts/foundation-icons/foundation-icons.css";

   // We use this to control whether or not CSS classes come through in the gem files.
   $include-html-classes: true;
   // $include-print-styles: true;
   $include-html-global-classes: $include-html-classes;



// 2. Global Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Controls what other scss files or elements are imported into these custom styles.

   // Main Body Styles
   html, body {
      height: 100%;
      position: relative;
      background: $white;
      // overflow: hidden;
   }

   .hide-overflow {
      overflow: hidden;
   }

   .overflow-scroll {
      overflow: scroll !important;
   }

   // Box Shadows
   $box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   $bottom-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);




// 3. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Controls the typography settings for the site.

   // Body Font Size
   $body-font-size: rem-calc(13);




// 4. Template
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// All styles that control the various elements of the template.

   // 4.1 Extension Top Bar & Site Search
   // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

   .extension-top-bar {
      width: 100%;
      height: 5em;
      background: $secondary-color;
      padding: 1em 1em 1em 0em;

      // Extension Logo
      .extension-logo {
           width: 150px;
           height: 53px;
      }

      // Large & Medium Screen Search
      .search-container {
         width:300px;
         position: relative;
         float: right;
         height: 4em;
         overflow: hidden;

         @include breakpoint(small only) {
            display: none;
         }

      }

      // Mobile Search Icon
      .mobile-search-icon {
           color: $body-font-color;
           float: right;
           padding: .6em 0 0 0;
      }

   }


   // 4.2 Header
   // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

   // Variables:
   $site-title-font-size: rem-calc(44);
   $site-title-font-reduction: rem-calc(34);

   // Header Container
   header {
      background: $primary-color;
      padding: 1em .9em 1em 0em;
      box-shadow: $bottom-shadow;
      z-index: 999;
      position: relative;

      // Site Title
      .site-title {
         color: $white;
         font-size: $site-title-font-size;
         // Font Reduction for Site Title
         @include breakpoint(small only) {
            font-size: $site-title-font-reduction;
         }
      }

      // Hamburger Menu Icon
      .hamburger-icon {

         @include breakpoint(medium only) {
            padding-top: .2em;
            &::before {
               font-size: rem-calc(14);
               content: "MENU";
               float: left;
               padding: 1.05em .5em 0 0;
            }
         }

         // Hamburger Icon Variables
         $button-width: 20px;                    // The width of the button area
         $button-height: 50px;                   // The height of the button area
         $bar-thickness: 3px;                    // The thickness of the button bars
         $button-pad: 0px;                      // The left/right padding between button area and bars.
         $button-bar-space: 3px;                // The spacing between button bars
         $button-transistion-duration: 0.2s;     // The transition duration

         .c-hamburger {
            display: block;
            position: relative;
            overflow: hidden;
            margin: 0;
            padding: 0;
            width: $button-width;
            height: $button-height;
            font-size: 0;
            text-indent: -9999px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            box-shadow: none;
            border-radius: none;
            border: none;
            cursor: pointer;
            transition: background $button-transistion-duration;
            &:focus {
               outline: none;
            }
         }

         .c-hamburger span {
            display: block;
            position: absolute;
            top: ($button-height / 2) - ($bar-thickness / 2);
            left: $button-pad;
            right: $button-pad;
            height: $bar-thickness;
            background: rgb(255,255,255);
         }

         .c-hamburger span::before,
         .c-hamburger span::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: $bar-thickness;
            background-color: #fff;
            content: "";
         }

         .c-hamburger span::before {
            top: -$bar-thickness - $button-bar-space;
         }

         .c-hamburger span::after {
            bottom: -$bar-thickness - $button-bar-space;
         }

         .c-hamburger--htx {
            background-color: none;
         }

         .c-hamburger--htx span {
            transition: background 0s $button-transistion-duration;
         }

         .c-hamburger--htx span::before,
         .c-hamburger--htx span::after {
            transition-duration: $button-transistion-duration, $button-transistion-duration;
            transition-delay: $button-transistion-duration, 0s;
         }

         .c-hamburger--htx span::before {
            transition-property: top, transform;
         }

         .c-hamburger--htx span::after {
            transition-property: bottom, transform;
         }

         /* active state, i.e. menu open */

         .c-hamburger--htx.is-active {
            background-color: $primary-color;
         }

         .c-hamburger--htx.is-active span {
            background: none;
         }

         .c-hamburger--htx.is-active span::before {
            top: 0;
            transform: rotate(45deg);
         }

         .c-hamburger--htx.is-active span::after {
            bottom: 0;
            transform: rotate(-45deg);
         }

         .c-hamburger--htx.is-active span::before,
         .c-hamburger--htx.is-active span::after {
            transition-delay: 0s, $button-transistion-duration;
         }

         /* active state, i.e. menu open */

         .c-hamburger--htra.is-active {
            background-color: darken(rgb(255,150,80), 20%);
         }

         .c-hamburger--htra.is-active span {
            transform: rotate(180deg);
         }

         .c-hamburger--htra.is-active span::before,
         .c-hamburger--htra.is-active span::after {
            width: 50%;
         }

         .c-hamburger--htra.is-active span::before {
            top: 0;
            transform: translateX(-$bar-thickness) translateY($bar-thickness/2) rotate(-45deg);
         }

         .c-hamburger--htra.is-active span::after {
            bottom: 0;
            transform: translateX(-$bar-thickness) translateY(-$bar-thickness/2) rotate(45deg);
         }
      }
   }

   // 4.3 Navigation (Side / Off Canvas Custom Styles)
   // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

   // Side Nav Variables
   // Top Level Background Color:
   $side-nav-top-level-bg-color: $white;
   // Top Level Active Background Color:
   $side-nav-top-level-active-bg-color: $primary-color;
   // Second Level Background Color:
   $side-nav-second-level-bg-color: lighten($secondary-color, 5%);
   // Second Level Active Background Color:
   $side-nav-second-level-active-bg-color: $primary-color;
   // Third Level Background Color:
   $side-nav-third-level-bg-color: lighten($secondary-color, 5%);
   // Side Nav Box Shadow
   $side-nav-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 rgba(0, 0, 0, 0.12);

   .menu-wrapper {
      overflow-x: hidden;
      box-shadow: $side-nav-shadow;
      margin-right: -14px !important;
   }

   .menu {
      background: $white;
      overflow: scroll;
   }


// Scrollbar Issues:
   // For Webkit (Chrome, Safari)
   .side-nav::-webkit-scrollbar {
      display: none;
   }
   // Firefox
   * { margin: 0; }

   #container1 {
      height: 100%;
      width: 100%;
      overflow: hidden;
   }

   #container2{
      width: 100%;
      height: 99%;
      overflow: auto;
   }

   // Side Nav
   .side-nav {
      // Global styles for side nav
      height: 100%;
      min-height: 100%;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 1.2em;
      box-shadow: $side-nav-shadow;
      border-left: solid 1px darken($secondary-color, 1%);
      border-right: solid 1px darken($secondary-color, 1%);
      list-style: none;
      background: $white;
      white-space: normal;


      // First Level
      li {
         // Normal State Top Border (For First Item Only)
         &:first-child { border-top: solid 1px darken($secondary-color, 1%); }
         // Normal State Bottom Border
         border-bottom: solid 1px darken($secondary-color, 1%);
         // Normal State Link Text Color
         a { color: $dark-gray-color; }
         // Hover & Focus State
         &:hover, &:focus, &:active { background: $secondary-color; }
         // Active State (For Page Indication)
         &.active {
            background: $side-nav-top-level-active-bg-color !important;
            a { color: $white; }
         }
         // Active Staet (For Click Feedback)
         &:active { background: darken($secondary-color, 5%); }
      }

      .active-parent {
         background: $side-nav-second-level-bg-color;
         &:hover, &:not (.second-level:hover) {
            background: pink;
         }
      }

      .active-parent-hover {
         // background: none;
          &:hover { background: $side-nav-second-level-bg-color !important; }
      }

      // Second Level Menu Items
      ul.second-level > li {
         // Normal State
         a { padding-left: 2em; }
         //background: $side-nav-second-level-bg-color;
         // Normal State Remove Borders
         &:first-child { border-top: none; }
         border-bottom: none;
         // Normal State Link Size and Color
         a { font-size: rem-calc(14); color: $dark-gray-color !important; }
         // Hover & Focus State
         &:hover, &:focus, {
            background: darken($secondary-color, 10%);
            a { color: $white; }
         }
         // Active State (For Page Indication)
         &.active, {
            background: $primary-color;
            a { color: $white !important; }
            &:hover { background: $primary-color; }
         }
         // Active Staet (For Click Feedback)
         &:active { background: darken($secondary-color, 5%); }

      }

      // Third Level Menu Items


      li.active ul.third-level > li {
         // Normal State
         //background: $side-nav-second-level-bg-color;
         margin-left: 0;

         // Normal State Remove Borders
         &:first-child { border-top: none; }
         border-bottom: none;
         // Normal State Link Size and Color
         a {
            margin-left: 2em;
            color: $dark-gray-color !important;
            font-size: rem-calc(14);
            border-left: solid 3px darken($secondary-color, 10%);
         }
         // Hover & Focus State
         &:hover, &:focus, {
            background: darken($secondary-color, 10%);
            a { color: $white; }
         }
         // Active State (For Page Indication)
         &.active {
            background: $primary-color;
            a { color: $white !important; border-left: solid 3px $primary-color; }
         }
         &.active:active { a { color: $white !important; border-left: solid 3px $primary-color; } }
         // Active Staet (For Click Feedback)
         &:active { background: darken($secondary-color, 15%); a { border-left: solid 3px darken($secondary-color, 15%); } }
         }

   }



   // Off Canvas
   // - - - - - - - - - - - - - - - - - - - - - - -

   .off-canvas {
      background: $white;
      height: 100%;
      overflow: scroll !important;
   }

   .off-canvas-content {
      box-shadow: 5px 0 10px -5px #333;
      background: $white;
   }

   .off-canvas-wrapper-inner {
      z-index: 1;
      background: $white;
   }

   .js-off-canvas-exit {
      background: rgba($white, .7);
      &:hover { background: rgba($white, .9); }
   }

   .off-canvas-active {
      overflow: hidden;
      background: $white;
   }

   .custom-height {
      height: 100%;
      background: $white;
   }

   // 4.4 Custom 4-H Styles
   // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

   // 4-H Page Banner
   .four-h-header {
      width: 100%;
      height: 2em;
      background: $four-h-color;
      margin-bottom: 2em;

      img {
           display: block;
           margin-left: auto;
           margin-right: auto;
           margin-top: 1em;
           padding: .5em .5em .5em .5em;
           width: 100px;
           height: 100px;
      }
   }

   // 4.5 Main Content Area
   // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


   // Main Content Buffer
   // A div that gives the fotter some extra padding on medium and small screens
   .main-content-buffer {
      @include breakpoint(medium down) { padding-bottom: 4em; }
   }

   // Page Title (h1 & main page name)
   .page-title {margin-top: .55em;}

   // Mobile Search Modal
   #mobile-search-modal {
      input {
         font-size: rem-calc(36);
         height: auto;
         line-height: rem-calc(36);
         border: none;
         box-shadow: none;
         border-bottom: solid 5px $secondary-color;
         &:focus {background: $white;}
      }
   }

   .page-content {
      margin: 0 0 2em 0;
   }


   // 4.6 Footer
   // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


   .footer-top {
      background: $secondary-color;
      color: darken($secondary-color, 40%);
      padding: 1em 1em 1em 1em;
      border-top: solid 2em darken($secondary-color, 40%);
      //z-index: 999;

      ul {
         list-style: none;
         font-size: $body-font-size;
         margin-left: 0;
      }

      i { margin-right: .2em; }

   }

   .footer-bottom {
      padding: 1em 0 0 0;
      margin: 0 0 3em 0;
      font-size: $body-font-size;
      color: darken($secondary-color, 40%);
   }
