// Color Variables
$dark-green: #77806A;
$light-green: #8DC397;
$green: #4b6c50;
$dark-blue: #5D97B5;
$blue: #327c9c;
$light-blue: #8AC8E8;
$dark-red: #aa4b4b;
$red: #c84b4b;
$light-red: #DD7F7F;
$black: #2E2E2E;
$white: #ffffff;
// Typography
@import 'https://fonts.googleapis.com/css?family=Raleway:300,700';
@import url("../fonts/foundation-icons/foundation-icons.css");
$raleway: 'Raleway', sans-serif;
$heading-font: $raleway;
$nav-font: $raleway;
$button-font: $raleway;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

header {
   margin-bottom: 4em;
   img {
      float: left;
      max-width: 400px;
   }
}

// Navigation
//-----------
nav {
   float: right;
   ul {
      list-style: none;
   }
   ul li {
      display: inline;
   }
   ul li a {
      font-family: $nav-font;
      font-weight: 700;
      font-size: .8rem;
      color: $black;
      display: inline-block;
      padding: 1em;
   }
   .register {
      background: $green;
      color: $white;
   }
}


// Button Mixin
//-------------
@mixin buttonColor($bg, $color, $hover-bg, $hover-color) {
   display: block;
   background: $bg;
   color: $color;
   padding: 1em;
   text-align: center;
   font-size: 1.5em;
   font-family: $button-font;
   font-weight: 700;
   transition: 250ms ease;
   // For Small
   @include breakpoint(small only) {
      font-size: 1rem;
   }
   &:hover {
      background: $hover-bg;
      color: $hover-color;
   }
}

// Homepage
//---------

// Section Title Mixin
@mixin sectionText($color) {
   h1 {
      color: $color;
      line-height: 1.1;
      margin-bottom: .5em;
      @include breakpoint(medium only) {
         font-size: 2rem !important;
      }
   }
   h2 {
      font-size: 3rem;
      @include breakpoint(medium only) {
         font-size: 2rem;
      }
      @include breakpoint(small only) {
         font-size: 1.5rem;
      }
      color: $color;
      line-height: 1.1;
      margin-bottom: .5em;
   }
   p {
      margin-top: 1em;
      font-family: $heading-font;
      font-weight: 700;
      color: darken($color, 10%);
   }
}

// Register Section
.register-section {
   @include sectionText($dark-green);
   .custom-button {
      @include buttonColor($green, $white, $dark-green, $white);
   }
}
// Hotel Booking Section
.hotel-booking-section {
   @include sectionText($dark-blue);
   .custom-button {
      @include buttonColor($blue, $white, $dark-blue, $white);
   }
}
// Hotel Booking Section
.sponsor-section {
   @include sectionText($dark-red);
   .custom-button {
      @include buttonColor($red, $white, $dark-red, $white);
   }
}

// Tech Drawing Graphic
.tech-window {
   margin-left: 2em;
}





// Footer
//-------

main {
   margin-bottom: -5em;
}

// Spacer (for footer margin)
.spacer {
   height: 5em;
   margin-top: 5em;
}

footer, main:after {
  height: 10em;
}

footer {
   height: 10em;
   background: $light-green;
   color: $white;
}
