// Color Variables
$dark-green: #77806A;
$light-green: #8DC397;
// $light-green: #6c9a75;
$dark-blue: #5D97B5;
$light-blue: #8AC8E8;
$dark-red: #BE5353;
$light-red: #DD7F7F;
$black: #2E2E2E;
$white: #ffffff;
// Typography
@import 'https://fonts.googleapis.com/css?family=Raleway:300,700';
@import url("../fonts/foundation-icons/foundation-icons.css");
$raleway: 'Raleway', sans-serif;
$heading-font: $raleway;
$button-font: $raleway;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}


// Button Mixin
//-------------
@mixin buttonColor($bg, $color, $hover-bg, $hover-color) {
   display: block;
   background: $bg;
   color: $color;
   padding: 1em;
   text-align: center;
   font-size: 1.5em;
   font-family: $button-font;
   font-weight: 700;
   transition: 250ms ease;
   // For Small
   @include breakpoint(small only) {
      font-size: 1rem;
   }
   &:hover {
      background: $hover-bg;
      color: $hover-color;
   }
}

// Homepage
//---------
// Register Section
.register-section {
   h1 {
      color: $dark-green;
      line-height: 1.1;
      margin-bottom: .5em;
   }
   .custom-button {
      @include buttonColor($light-green, $white, $dark-green, $white);
   }
   p {
      margin-top: 1em;
      font-family: $heading-font;
      font-weight: 700;
      color: $dark-green;
   }
}
// Hotel Booking Section
.hotel-booking-section {
   h2 {
      font-size: 3rem;
      @include breakpoint(small only) {
         font-size: 1.5rem;
      }
      color: $dark-blue;
      line-height: 1.1;
      margin-bottom: .5em;
   }
   .custom-button {
      @include buttonColor($light-blue, $white, $dark-blue, $white);
   }
   p {
      margin-top: 1em;
      font-family: $heading-font;
      font-weight: 700;
      color: $dark-blue;
   }
}
// Hotel Booking Section
.sponsor-section {
   h2 {
      font-size: 3rem;
      @include breakpoint(small only) {
         font-size: 1.5rem;
      }
      color: $dark-red;
      line-height: 1.1;
      margin-bottom: .5em;
   }
   .custom-button {
      @include buttonColor($light-red, $white, $dark-red, $white);
   }
   p {
      margin-top: 1em;
      font-family: $heading-font;
      font-weight: 700;
      color: $dark-red;
   }
}





// Footer
//-------
footer {
   height: 10em;
   background: $light-green;
   color: $white;
}
