// Color Variables
$netc-green: #284405;
$netc-gray: #6c6c6c;
$netc-dark-gray: #535353;
$netc-yellow: #ffc853;
$netc-black: #000;
// Typography
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Poppins);
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}
p { font-family: 'Poppins';}
body { background: $netc-gray; }
header {
    width: 100vw;
    height: 100vh;
    background: $netc-green;
    text-align: center;
    margin: 0 auto;
    // padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    // resize: both;
    overflow: auto;
    #mainLogo {
        width: 50%;
        margin: 1em;
        min-width: 300px;
    }
    #findOutMore {
        @include button-hollow;
        border-color: $white;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 1em;
        &:hover {
            background: $white;
            color: $netc-green;
        }
        // Sizing
        @include breakpoint(small only) {
            width: 80%;
        }
    }
}
.flex-center {
    resize: both;
}

main {
  height: 100vh;
  width: 100vw;
  background: $netc-yellow;
  color: $netc-black;
  h1 { font-weight: 700; letter-spacing: 5px; text-transform: uppercase; }
  h2 { font-weight: 700; letter-spacing: 5px; text-transform: uppercase; }
  text-align: center;
  #netcPromo { width: 100vw; height: auto; }
}
