/* @group masonry.js styles */

/* ---- hero masonry ---- */

/* sizes 

1 col { width: 100%; }
2 col { width: 50%; }
3 col { width: 33.333%; }
4 col { width: 25%; }

*/

#grid {
	padding:1%;
	margin:0;
}

#grid:after {
	content: '';
	display: block;
	clear: both;
}

#grid .item {
	float: left;
	padding: 1em;
	background: #fff;
	border:1px solid #eee;
	width: 95%;
	margin: 1%;
}

#grid .item a {
	display: block;
	color: #000;
}

#grid .item:hover {
	background: #eee;
}
#grid .item img {
	display: block;
	max-width: 100%;
}

/* @end */


/* @group media queries */

/* em's width / foundation width */

/* SMALL 500px / 640px */
@media screen and (max-width: 31.25em){
	/*#grid[data-columns]::before {
		content: '1 .columnTiled.size-1of1';
	}*/
	#grid .item {
	}
	
}
@media screen and (min-width:31.313em) and (max-width: 40em) {
	/*#grid[data-columns]::before {
		content: '2 .columnTiled.size-1of2';
	}*/
}

/* less than MEDIUM 740px / 641px */
@media screen and (max-width: 40em) {
	#grid .item {
		max-width: 47%;
	}
}

/* MEDIUM 740px / 641px */
@media screen and (min-width: 40.063em) and (max-width: 64em) {
	/*#grid[data-columns]::before {
		content: '3 .columnTiled.size-1of3';
	}*/
	#grid .item {
		width: 30.6%;
	}
}

/* LARGE 980px / 1024px */
@media screen and (min-width: 64.063em) {
	/*#grid[data-columns]::before {
		content: '4 .columnTiled.size-1of4';
	}*/
	#grid .item {
		width: 22.5%;
	}
}

/* @end */


