.slideshow-nav  {
	position:relative;
	top:-.0999999em;
}
.slideshow {
	font-size: 1em;
	max-width: 43.75em;
	max-height: 21.875em;
	margin-bottom:1.5em;
	overflow: hidden !important;
	width:43.75em !important ;	
	height:21.875em !important ;
}
#slidesContainer {
	position: relative;
}
#slidesContainer .slide {
/*	position: relative; */
	position: absolute;
}
.archive .slide {
	clear: both;
	position:relative;
/*	border-bottom: .0999em solid #eee; */
	display: inline-block;
	padding: .75em 0;
}
.slide img {
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}
.archive .slide img {
	float: left;
	width:15.75em;
	margin: 0 .75em;
}
.slide p {
	padding: 0;
	margin: 0;
/*	color: #fff; gray version */
	color: #000;
	font-size: .75em;
	line-height: 1.5em;
}
.archive .slide p.pubDate {
	color: #999;
	font-size: .6em;
	padding-top: .5em;
}
#slidesContainer .slide .slide-content {
	position: absolute;
	width: 15.75em;
	width:22.75em;
	bottom: 54px;
	right: .5em;
	height: auto;
	padding: 1.25em;
	-webkit-border-radius: .5em 0 0 .5em;
	-moz-border-radius: .5em 0 0 .5em;
	border-radius: .5em 0 0 .5em;
	z-index: 49;
	overflow: hidden;
/*	background-color: #333; gray version */
/*  white version 10/10/11 */
	background-color: #fff;
	border: .09999em solid #ccc;
	box-shadow: .01em .01em .5em #666;
}
.archive .slide .slide-content {
	width: 40em;
	display: block;
}
#slidesContainer .slide .title {
	font-family: Trebuchet MS;
	font-size: 1em;
/*  white version 10/10/11 */
	font-weight: bold;
	line-height: 1.25em;
	color: #c03;
}
.archive .slide .title {
	font-weight: bold;
}

/* gray version
.slide a:link,
.slide a:active,
.slide a:visited {
	color: #FFCC00;
}
*/

#controls, .slideshow .playpause span {
	position: relative;
	font-size: .6em;
	font-weight: bold;
	float: right;
	top: -4em;
	right: 0em;
	text-transform: uppercase;
	z-index:50;
	margin-bottom: -4em;
}
#controls a{
	background-color: #333;
	padding: .125em .75em;
	border: .2em #333 solid;
}
#controls a.activeSlide {
	color: #0071bc;
	background-color: #fff;
}
#controls a {
	text-decoration: none;
	float: left;
	color: #fff;
	margin-right: 1em;
	font-size: 1em;
}
.slideshow .playpause span{
	color: #fff;
	margin-left: 1.2em;
	float: left;
	text-decoration: none;
	background:#000;
	padding: .125em .75em;
	border: .2em #000 solid;
}