// MICROFORMATS

.h-card {
	width:100%;
	margin: 0;
	border: none;
	li {
		margin:rem-calc(0 16);
		font-size:.9rem;
		&.image {
			margin:0;
			padding:0;
			img, iframe {
				width:100%;
				height:200px;
				object-fit:cover;
			}
		}
		cursor:default !important;
		&.gap {
			margin-top:.5rem;
		}
	}
	.p-name, .fn {
		font-weight:$font-weight-bold;
		font-size:1rem;
		margin-top:rem-calc(16);
	}
	.p-job-title, .title {
		font-weight:normal !important;
		padding:0 !important;
		font-style:italic;
	}
	.u-email::before {
		font-family:FontAwesome;
		content: " \f003";
		padding-right:.3rem;
	}
	.p-tel::before {
		font-family:FontAwesome;
		content: " \f095";
		padding-left:.1rem;
		padding-right:.3rem;
	}
}
table .h-card, table .vcard {
	display:table-row;
	.u-email::before {
		content: "";
		padding:0;
	}
	.p-tel::before {
		content: "";
		padding:0;
	}
	.p-job-title, .title {
		font-weight:normal !important;
		padding:inherit !important;
		font-style:italic;
	}
}

@media #{$small-only} {
	.h-card {
		li {
			margin-left:132px;
			&.image {
				margin:0;
				padding:0;
				float:left;
				display:block;
				position:absolute;
				img {
					width:120px;
					height:150px;
					object-fit:cover;
				}
			}
		}
		.p-name, .fn {
			margin-top:rem-calc(8);
		}
	}
}