/*
    Styles for Adobe Experience Manager Components
    For the 2015 UGA Extension County Site Redesign

    By John French
    jwfrench@uga.edu

 */


// Paper Element
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Gives an element the appearance of being on a physical sheet of paper.

// Paper element mixin can be included with other styles
@mixin paper-element {
    box-shadow: $box-shadow;
    padding: 1em;
    margin-bottom: 2em;

    hr {
      border-top: 1px solid $secondary-color;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
}

// Class to be used with HTML elements
.paper-element {
    @include paper-element;
}

// List Components
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    // Controls Job Title, Blog Post Title, Publication Title, etc.
    @mixin list-component-styles {

        .title {
            color: $primary-color;
            font-size: rem-calc(20);
        }

        // Cotrols the program area in the personnel list as well as the post details in blogs and publications
        .details {
            font-size: rem-calc(12);
            color: darken($secondary-color, 60%);
            text-transform: uppercase;
            a {
               color: $primary-color;
               font-size: rem-calc(14);
               font-weight: bold;
               text-transform: none;
            }
        }

        // Control the date styling for the event list component
        .date {
            color: darken($secondary-color, 60%);
            font-size: rem-calc(30);
            text-transform: uppercase;
        }

        // Lightens the horizontal rule
        hr { border-top: 1px solid lighten($secondary-color, 2%); margin: 1em 0 0em 0; border-left: none; border-right: none; }

        a.right { padding: 0 1em 1em 0; }

    }

    // Personnel List (Inline List)
    //-----------------------------
    .personnel-list-item {
      margin-top: 1em;
      clear: both;
      // Personnel Image
      img { width: 100px !important; float: left; margin-right: 1em; }
      // List
      ul { list-style: none; margin-left: 0; overflow: hidden; }

      .personnel-contact-info {
         display: block;
         margin-right: 2em;
      }

    }



    // Publication List
    //-----------------------------
    .publication { margin-bottom: 1em; }



    // Plain List
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    .plain-list-component {
        @include list-component-styles;

        // Controls the image properties if images are displayed
        img {
             float: none;
             margin: 0 1em 1em 0;
             max-width: 200px;
        }

        // Controls the main content list
        ul {
            list-style: none;
            padding: 0;
            overflow: hidden;
        }

        // Controls the inline list for the personnel component
        .inline-list > li { margin-left: 0; margin-right: .5em;}

    }

    // Tiled List
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    .tiled-list-component {
        @include list-component-styles;

        img { width: 100%;}

        ul {
            list-style: none;
            margin: .5em 0 0em 0;
            word-wrap: break-word;
        }

        .see-more-tile {
            margin-top: -30px;
            padding: 0 0 0 0;
        }
    }



// Office Information Component
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.office-information-component {
    @include paper-element;

    ul li {
        list-style: none;
        line-height: rem-calc(48);
    }

    i {
        font-size: rem-calc(36);
        padding-right: .2em;
        vertical-align: middle;
     }



}


// Message Form Component
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.message-form-component {
    textarea { height: rem-calc(100); }
}






// Social Media Icon List Component
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.social-media-icons-component {
   i { font-size: rem-calc(48); }
}

// Image Slider
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

#owl-demo .item .img-container {
   // Image Container:
   max-height: 50%;
   overflow: hidden;
   &:hover {
      .caption {visibility: visible;}
   }
   // Image:
   img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      z-index: 10;
   }
   // Caption:
   .caption {
      color: white;
      background: rgba(0, 0, 0, .5);
      padding: .5em;
      display: block;
      position: absolute;
      z-index: 1000;
      bottom: 0;
      left: 0;
      @include breakpoint(small only) {
         visibility: hidden;
         font-size: rem-calc(12);
      }
   }
}



// Image Gallery / Lightbox
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

body:after {
  content: url(../../images/close.png) url(../../images/loading.gif) url(../../images/prev.png) url(../../images/next.png);
  display: none;
}


.lightbox-gallery {
   list-style: none;
}


.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}


.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  margin-top: 2em;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  width: auto;
  max-width: none;
}

.lightbox a img {
  border: none;
}


.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
}

.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

.lb-prev {
  left: 0;
  float: left;
}

.lb-prev:hover {
  background: url(../../images/prev.png) left 48% no-repeat;
}


.lb-next {
  right: 0;
  float: right;
}

.lb-next:hover {
  background: url(../../images/next.png) right 48% no-repeat;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


// Block Grid / Masonry
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

/* line 107, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
[class*="block-grid-"]:before, [class*="block-grid-"]:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
[class*="block-grid-"]:after {
  clear: both;
}
/* line 51, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
[class*="block-grid-"] > li {
  display: block;
  float: left;
  height: auto;
  padding: 0 0.625rem 1.25rem;
}

@media only screen {
  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-1 > li {
    list-style: none;
    width: 100%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-2 > li {
    list-style: none;
    width: 50%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-3 > li {
    list-style: none;
    width: 33.33333%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-4 > li {
    list-style: none;
    width: 25%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-5 > li {
    list-style: none;
    width: 20%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-6 > li {
    list-style: none;
    width: 16.66667%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-7 > li {
    list-style: none;
    width: 14.28571%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-8 > li {
    list-style: none;
    width: 12.5%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-9 > li {
    list-style: none;
    width: 11.11111%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-10 > li {
    list-style: none;
    width: 10%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-11 > li {
    list-style: none;
    width: 9.09091%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-12 > li {
    list-style: none;
    width: 8.33333%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 40.0625em) {
  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-1 > li {
    list-style: none;
    width: 100%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-2 > li {
    list-style: none;
    width: 50%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-3 > li {
    list-style: none;
    width: 33.33333%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-4 > li {
    list-style: none;
    width: 25%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-5 > li {
    list-style: none;
    width: 20%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-6 > li {
    list-style: none;
    width: 16.66667%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-7 > li {
    list-style: none;
    width: 14.28571%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-8 > li {
    list-style: none;
    width: 12.5%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-9 > li {
    list-style: none;
    width: 11.11111%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-10 > li {
    list-style: none;
    width: 10%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-11 > li {
    list-style: none;
    width: 9.09091%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-12 > li {
    list-style: none;
    width: 8.33333%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .medium-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 64.0625em) {
  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-1 > li {
    list-style: none;
    width: 100%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-1 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-2 > li {
    list-style: none;
    width: 50%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-2 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-3 > li {
    list-style: none;
    width: 33.33333%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-3 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-4 > li {
    list-style: none;
    width: 25%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-4 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-5 > li {
    list-style: none;
    width: 20%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-5 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-6 > li {
    list-style: none;
    width: 16.66667%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-6 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-7 > li {
    list-style: none;
    width: 14.28571%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-7 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-8 > li {
    list-style: none;
    width: 12.5%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-8 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-9 > li {
    list-style: none;
    width: 11.11111%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-9 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-10 > li {
    list-style: none;
    width: 10%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-10 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-11 > li {
    list-style: none;
    width: 9.09091%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-11 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  /* line 62, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-12 > li {
    list-style: none;
    width: 8.33333%;
  }
  /* line 69, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-12 > li:nth-of-type(1n) {
    clear: none;
  }
  /* line 70, ../bower_components/foundation/scss/foundation/components/_block-grid.scss */
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }
}
