table.navbar {
 width:100%;
 margin-bottom:0;
 	td {
 		//border:1px solid gray;
 		//width:auto;
 	}
 	.search {
		white-space:nowrap;
 		.input {float:left;}
		span {float:right;}
	}
}

.cq-calendar .navbar .left {
    width: 40%;
    white-space: nowrap;
    float:none !important;
    text-align:left;
    div, span, input {
    	float:left;
    }
}
.navbar .date b {
}
.cq-calendar .navbar .center {
    width: 20%;
    white-space: nowrap;
    float:none !important;
    text-align:center;
}
.cq-calendar .navbar .right {
    width: 40%;
    white-space: nowrap;
    float:none !important;
}
.cq-calendar .navbar .search {
    padding: 0px;
    margin-right: 10px;
    display: inline-block;
    width:65%;
}
.cq-calendar .navbar .search input {
	width:90%;
	margin-bottom:0;
}
.cq-calendar .navbar .search span {
	background:$silver;
}
.navbar button {
	margin:0;
	background:none;
}
/*
table.navbar {
	//overflow: hidden;
	width: 100%;
	height: 35px;
	margin-bottom: 1px;
	padding: 0px 10px;
	background-color: #DDD;
	font-size: 9pt;
	font-weight: bold;
	color: #535353;
}
div.search {
    padding: 0px 1px 0px 0px;
}
.x-form-field-wrap {
    position: relative;
    left: 0px;
    top: 0px;
    text-align: left;
    white-space: nowrap;
}
.ext-gecko .x-form-text, .ext-ie8 .x-form-text {
    padding-top: 2px;
    padding-bottom: 0px;
}
.ext-strict .x-form-text {
    height: 18px;
}
.x-form-field, .ext-gecko .x-window-body .x-form-item {
    overflow: hidden;
}
.x-form-text, textarea.x-form-field {
    background-color: #FFF;
    background-image: url("../../../libs/cq/ui/widgets/themes/default/ext/form/text-bg.gif");
    border-color: #C1C1C1;
}
.x-form-field {
    font: 12px tahoma,arial,helvetica,sans-serif;
}
.x-form-text, .ext-ie .x-form-file {
    height: 22px;
    line-height: 18px;
    vertical-align: middle;
}
.x-form-text, textarea.x-form-field {
    padding: 1px 3px;
    background: transparent none repeat-x scroll 0px 0px;
    border: 1px solid;
}
.x-form-field {
    margin: 0px;
}
.x-form-field-wrap {
    text-align: left;
    white-space: nowrap;
}
.x-form-field-wrap .x-form-twin-triggers .x-form-trigger {
    position: static;
    top: auto;
    vertical-align: top;
}
.x-form-field-wrap .x-form-clear-trigger {
    background-image: url("../../../libs/cq/ui/widgets/themes/default/ext/form/clear-trigger.gif");
}
.x-form-field-wrap .x-form-trigger {
    background-image: url("../../../libs/cq/ui/widgets/themes/default/ext/form/trigger.gif");
    border-bottom-color: #B5B8C8;
}
.x-form-field-wrap .x-form-date-trigger, .x-form-field-wrap .x-form-clear-trigger, .x-form-field-wrap .x-form-search-trigger {
    cursor: pointer;
}
.x-form-field-wrap .x-form-trigger {
    width: 17px;
    height: 21px;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background: transparent none no-repeat scroll 0px 0px;
    cursor: pointer;
    position: absolute;
    top: 0px;
}
img {
    border: medium none;
}
.cq-calendar .navbar .date {
    padding-left: 6px;
    font-size: 9pt;
    font-weight: normal;
    color: #535353;
    vertical-align: middle;
}

*/
#cq-calendar-lensdeck-buttons {
    float: right;
    height:auto;
}
#cq-calendar-lensdeck-buttons .x-btn {
    float: left;
    margin-left: 1px;
}
.x-btn {
    font: 11px Tahoma,Arial,Helvetica,sans-serif;
}
.x-btn {
    font: 11px tahoma,verdana,helvetica;
}
.x-btn {
    cursor: pointer;
    white-space: nowrap;
}

#cq-calendar-lensdeck-buttons .x-btn-tl, #cq-calendar-lensdeck-buttons .x-btn-tc, #cq-calendar-lensdeck-buttons .x-btn-tr, #cq-calendar-lensdeck-buttons .x-btn-bl, #cq-calendar-lensdeck-buttons .x-btn-bc, #cq-calendar-lensdeck-buttons .x-btn-br {
    height: 0px;
    background: transparent none repeat scroll 0% 0%;
}
.x-btn-click .x-btn-tl, .x-btn-menu-active .x-btn-tl, .x-btn-pressed .x-btn-tl {
    background-position: -12px 0px;
}
.x-btn td {
    padding: 0px !important;
}
.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
    background-image: url("../../../libs/cq/ui/widgets/themes/default/ext/button/btn.gif");
}
.x-btn-tl {
    width: 3px;
    height: 3px;
    background: transparent none no-repeat scroll 0px 0px;
}
#cq-calendar-lensdeck-buttons .x-btn-tr i, #cq-calendar-lensdeck-buttons .x-btn-tl i, #cq-calendar-lensdeck-buttons .x-btn-br i, #cq-calendar-lensdeck-buttons .x-btn-bl i {
    height: 0px;
}
.x-btn-tr i, .x-btn-tl i, .x-btn-br i, .x-btn-bl i {
    height: 3px;
}
.x-btn-tr i, .x-btn-tl i, .x-btn-mr i, .x-btn-ml i, .x-btn-br i, .x-btn-bl i {
    font-size: 1px;
    line-height: 1px;
    width: 3px;
    display: block;
    overflow: hidden;
}

// ----- EM'S CUSTOM STUFF BELOW

//.x-form-search-trigger {
//	width:25px;
//	height:25px;
//	background:$silver;
//}
.x-form-search-trigger::after {
	font-family:FontAwesome;
	content: " \f002";
	float:right;	
}
.x-table-layout tr td {
	padding:rem-calc(0);
	border-right:1px solid lighten($secondary-color,95%);
}
.x-table-layout-cell.cq-calendar-month-daybar {
	width:14.2%;
}
.cq-calendar-month-event.all-day {
	// background:lighten($secondary-color,95%);
	width:100%;
	display:block;
	//padding:rem-calc(2 4);
}
.cq-calendar-month-day {
	min-height:rem-calc(200);
}
.cq-calendar-month-dayname {
	background:lighten($secondary-color,80%);
	padding:rem-calc(4);
	font-weight:bold;
}
.cq-calendar-month-day .cq-calendar-month-day-number {
	background:lighten($secondary-color,70%);
	padding:rem-calc(4);
	color:$white;
	font-weight:bold;
}
.cq-calendar-month-daybar a {
	display:block;
	clear:both;
	padding:rem-calc(3 4);
}
.x-table-layout-cell {
	vertical-align:top;
}