@media print {
	#top {
		height:rem-calc(60);
	}
	.row {width:100% !important;}
	margin-top:0.4cm;
	margin: 0.5cm;
 	html {
 		margin:0;
 	}
 	#inner-wrap {
 		padding:rem-calc(30px 0);
 	}
 	.preheader {
 		width:100%;
		p {
			padding:0;
			margin:1em 0 .5em 0;
	 		color:$black;
	 		&:before {
 				content:url("../../images/arch-24-blk.jpg");
 				float:left;
 				margin-top:-.75em;
 			}
	 	}
	 	padding:0;
 	}
	a[href]:after {
	    content: "";
	}
	#nav, .searchform, .breadcrumbs, #supersized, .captionoverlay, .backstretch, section.drop i, .side-nav, footer .row, .calltoaction {
		display:none;
	}
	footer {
		padding-top:rem-calc(20);
		border-top:1px solid #ccc;
		&:after{
			content:url("../../images/CAES-logo-blk.jpg");
			padding:rem-calc(20 0);
		}
	}
	main.drop, section.drop{
		position:relative;
		top:0;
		margin-top:0;
		margin-bottom:0;
	}
	.mainbar {
		padding:rem-calc(0) !important;
	}
	.sidebar {
		padding:rem-calc(0 0 0 20) !important;
	}
	header .columns p {
		padding:rem-calc(8 0);
	}
	header p.banner {
		font-size:rem-calc(44);
	}
	.richtext li {
	 	margin:rem-calc(4 8);
	}
	.description {
		font-weight:$font-weight-normal;
		font-size:$paragraph-font-size;
		padding:0 !important;
	}
	section.drop .columns {
		padding:0 !important;
	}
	h1, section.drop h1 {
		margin-top:rem-calc(20);
		color:$black !important;
	}
	h2 {
		margin-top:1em;
		margin-bottom:.5em;
	}
	#grid .item {
		max-width: 31% !important;
		position:relative !important;
		float:left !important;
		left:0 !important;
	}
	.sidebar .section {
		margin-bottom:0;
	}
	#toggle {
		overflow:visible;
		.panel {
			margin:0;
			&.front, &.back {
				display:block;
				height:100%;
				position:relative;
				@include vendor-prefix(transform,"translate(0,0)");
				@include vendor-prefix(backface-visibility,"visible");
				padding:0;
			}
			&.front {
				display:none;
			}
			&.back {
				padding-bottom:.75em;
			}
		}
	}
}