// ARCHIVED

@media #{$small-only} {
	main.drop {
		margin-top:rem-calc(150);
		margin-bottom:-rem-calc(150);
	}
	.headlines #grid, #grid{
		margin:0;
	}
	.headlines { // is this really only for the home page?
		.panel {
			margin-top:rem-calc(15);
			border:0;
			background:none;
			.image {
				padding:rem-calc(15);
				padding-bottom:0;
				float:left;
				max-width:40%;
			}
			&.gray {
				@include panel(
					$padding:rem-calc(0 0 16 0),
					$bg:$white,
					$adjust:true
				);
				border:0;
				border-top:1px solid $silver;
			}
			border:0;
			.video {
				padding:rem-calc(15);
				padding-bottom:0;
			}
			border-top:1px solid $silver;
		}
		.event.panel {
			margin-top:0;
		}
	}
	#grid .item:hover {
		border-color:$silver;
		background:$silver;
	}
	#grid .item.gray a {
		color:#000;
	}
	.h-card {
		li {
			margin-left:132px;
			&.image {
				margin:0;
				padding:0;
				float:left;
				display:block;
				position:absolute;
				img {
					width:120px;
					height:150px;
					object-fit:cover;
				}
			}
		}
		.p-name, .fn {
			margin-top:rem-calc(8);
		}
	}
}
@media #{$medium} {
	#grid .item {
		max-width: 47%;
	}
}
@media #{$large-up} {
	#grid .item {
		max-width: 31%;
	}
	main.headlines .large-12 {
		width:750px;
//		border-right:250px solid $silver !important;
//		margin-right:-250px;
//		overflow-y:hidden;
	}
	#top {
		height:110px;
	}
	.banner {
		position:absolute;
	}
	#nav {
		margin-top:rem-calc(-30);
	}
}
// IF GOING LARGER: adjust @media large-up to large, adjust grid.scss file, adjust row-width in settings.scss
//@media #{$xlarge-up} {
//	#grid .item {
//		max-width: 30.6%;
//	}
//	.drop .large-12 {
//		width:75%;
//		border-right:none !important;
//		margin-right:0;
//	}
//}

/* NEED

CHECK - better line-height for small, see breadcrumb and h1
CHECK - reduced padding on small for main columns, subcolumns
- formatting for location "tags"
- sidebar show/hide (submenu in alternate location)
*/

@media #{$medium-down} {

	.headlines .sidebar {
		padding:0 !important;
		width:100%;
	}
	.subcolumns .columns {
		padding:rem-calc(2 15) !important;
		padding-bottom:0 !important;
	}
	.description {
		padding:rem-calc(5) !important;
	}
	h1 {
		background:none;
	}
	h2 {
		background:#eee;
		margin-left:rem-calc(-5);
		margin-right:rem-calc(-5);
		padding:rem-calc(5 10);
	}
	
	#search {
		padding-top:0;
	}
	.button.apply, .button.plan, .button.request {
		margin:rem-calc(8 16);
		width:93%;
	}
	.headlines .panel.photo {
		margin-top:rem-calc(15);
		border:0;
		background:none;
		.image {
			padding:rem-calc(15);
			padding-bottom:0;
			float:left;
			max-width:40%;
		}
		border:0;
		border-top:1px solid $silver;
	}
	.breadcrumbs .current {
		display:none;
	}
}
@media #{$small-only} {
	
	
}