body {
	background-color:#999;
	padding: 1em;
}
p {
	margin: .25em .5em;
}
p.image {
	margin: 0;
	display: block;
}
p.image img {
	width: 100%;
}
ul {
	background: #eee;
	display: inline-block;
	margin: 0;
	padding: .5em;
	list-style: none;
}
li {
	float: left;
	border: 1px solid #ccc;
	margin: .5em;
	background: #fff;
}
.container, li {
	width: 200px;
	height: 260px;
	position: relative;	
	overflow: hidden;
}
#card, .toggle.panel {
	width: 100%;
	height: 100%;
	position: absolute;
	/*-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;*/
}
#card figure, .toggle.panel div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
#card .front, .toggle.panel .front {
	background: #ccc;
	transform: translate(0,0);
	transition: transform 500ms ease;
	z-index: 100;
}
#card .back, .toggle.panel .back {
	background: #999;
	transform: translate(200px,0);
	transition: transform 500ms ease;
	z-index: 200;
}
#card img {
	display: block;
	width: 100%;
}
#card.flipped .front, .toggle.panel.flipped .front{
  	transform: translate(-200px,0);
  	transition: transform 500ms ease;
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	-ms-backface-visibility: hidden;
  	-o-backface-visibility: hidden;
  	backface-visibility: hidden;
}
#card.flipped .back, .toggle.panel.flipped .back{
  	transform: translate(0,0);
  	transition: transform 500ms ease;
}