 /*
 	Branding Elements for the CAES Template
	in the header section.
 */

// UGA Branding Section
//---------------------
$uga-branding-bg-color: lighten($light-gray, 5%);
$uga-branding-link-color: darken($dark-gray, 20%);
.college-branding {
	background: $uga-branding-bg-color;
	// height: 6em;
	// overflow: hidden;
	.uga-logo {
		float: left;
		margin: 1em 0 0em 0;
	}
}

// Homepage People Menu
//---------------------
.homepage-people-menu {
	list-style: none;
	float: right;
	justify-content: center;
    vertical-align: middle;
    line-height: 5em;
	display: inline-block;
	margin-top: .5em;
	li {
		display: inline;
		padding: 0em 1em 0 1em;
		// Collapse for Medium-Sized Screens
		@include breakpoint(medium only) {
			padding: 0 .5em 0 0;
		}
		a {
			font-family: $montserrat;
			font-size: .8rem;
			color: $uga-branding-link-color;
			text-transform: uppercase;
		}
		a:hover {
			color: $caes-red;
		}
	}
}

// Search
//-------
#searchTrigger {
	float: right;
	justify-content: center;
	line-height: 3em;
	font-size: 2rem;
	display: block;
	margin: 0;
	color: $uga-branding-link-color;
	&:hover {
		color: $caes-red;
	}
}

.search-form {
	display: none;
	background: $uga-branding-bg-color;
	width: 100%;
	height: 6em;
	label {
		width: 100%;
		float: right;
		@include breakpoint(small only) {
			margin-right: 1em;
		}
		input[type="text"] {
			width: 93%;
			height: 3em;
			margin: .5em 1em .5em 0;
			background: none;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: solid 4px darken($uga-branding-bg-color, 20%);
			box-shadow: none;
		}
	}
	button {
		float: right;
		margin-top: -2.5em;
		i {
			font-size: 2rem;
		}
		// margin-right: 1.5em;
	}
}
