/*
   Components Styling
   For CAES Template
*/


@include link-underline;

// Component Title
//----------------
$component-title-default-bg: #d6d6d6;
$component-title-default-color: darken($caes-gray, 10%);

@mixin component-title($background, $color) {
   background: $background;
   position: relative;;
   color: $color;
   width: calc(100% + 2px);
   margin-left: -1px;
   min-height: 56px;
   padding: 14px 10px;
   align-items: center;
   vertical-align: middle;
   font-weight: 700;
   font-size: rem-calc(14);
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 1em;
   box-sizing: border-box;
   &:after {
      content:'';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-top: solid 10px $background;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
   }
}

// Clearfix Mixin
//---------------
// Prevent Conent/Image From Overlapping
@mixin clear() {
   &:after  {
      height: 0;
      visibility: hidden;
      display: block;
      content: ".";
      clear: both;
   }
}

// Plain & Tiled List Default Styles
//----------------------------------
@mixin caes-list-style {
   // Margins & Padding
   padding: 1em;
   // margin-bottom: 1em !important;
   // Title
   .title {
      font-family: 'Roboto Slab', serif;
      font-size: rem-calc(18);
      font-weight: 700;
      display: block;
      @include link-underline;
      @include breakpoint(small only) { font-size: rem-calc(16); }
   }
   // Subtitle
   .subtitle {
      font-weight: 500;
      // color: $dark-gray;
      text-transform: uppercase;
      font-size: rem-calc(12);
      display: block;
   }
   .subtitle:after { content:"\000A"; white-space: pre; }
   // Description
   .description { overflow: auto; @include link-underline; }
   .description:after { content:"\000A"; white-space: pre; }
}

// Plain List Component
//---------------------
.plain-list-container {
   border: solid 1px #d6d6d6;
   margin-bottom: 3em;
   // Component Title
   .component-title {
      @include component-title( $component-title-default-bg, $component-title-default-color );
      // font-size: 1.25rem;
   }

   @include clear;

   .plain-list-item {
      display: block;
      margin-bottom: 1em;
      clear: both;
      @include caes-list-style;
      .subtitle {
         max-width: 90%;
      }
      .description {
         display: flex;
         @include link-underline;
      }
      img { float: left; max-width: 200px; height: auto; padding-right: 1em; margin-bottom: 1em; }
   }

   // Read More Section
   hr { border-bottom: 1px solid #d6d6d6; }
   .read-more { margin-left: 1em; }
}


// Tiled List Component
//---------------------
// Component Title:
.component-title {
   @include component-title( $component-title-default-bg, $component-title-default-color );
   -webkit-column-span: all;
   -moz-column-span: all;
   column-span: all;
   margin-bottom: 1em;
}
.tiled-list-container {
   // Masonry Columns
   column-width: 250px;
	-moz-column-width: 250px;
	-webkit-column-width: 250px;
   column-count: 3;
   .tiled-list-pad {
      padding-top: 1em;
      column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
   }

   .tiled-list-item {
      @include callout-base;
      @include caes-list-style;
      @include link-underline;
      margin: 0;
      column-break-inside: avoid;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      display: inline-block;
      width: 100%;
      // Image
      img { width: 100%; }
      // Horizontal Rule
      hr { margin: 0 -1em 1em -1em; border-bottom: 1px solid #d6d6d6; }
   }
}

.masonry-two-column {
   column-width: 300px !important;
	-moz-column-width: 300px !important;
	-webkit-column-width: 300px !important;
}

.masonry-one-column {
   column-width: 500px !important;
	-moz-column-width: 500px !important;
	-webkit-column-width: 500px !important;
}

// Homepage Featured Sections
//---------------------------
.featured-row {
   margin-left: -30px !important;
   margin-right: -30px !important;
}

@mixin homepage-featured($title-bg, $title-color) {
   overflow: hidden;
   @include caes-list-style;
   padding: 0;
   .component-title {
      @include component-title( $title-bg, $title-color );
      margin-bottom: 0em;
   }
   img {
      float: none;
      width: 100%;
      max-width: 100%;
      height: auto;
      padding-right: 0;
      // margin-bottom: 1em;
   }
   .title, .subtitle, .description {
    //   margin: 1em 1em 1em 1em;
    padding: 1em 1em 0em 1em;
   }
   .description {
       overflow-x: hidden;
       padding-right: 2em;
    //    margin-right: 1em;
       @include link-underline;
   }
}

// Homepage homepage Section
//---------------------------
.academics {
   @include homepage-featured($caes-blue, $white);
}

// Homepage Research Section
//---------------------------
.research {
   @include homepage-featured($caes-yellow, $white);
}

// Homepage Extension Section
//---------------------------
.extension {
   @include homepage-featured($caes-green, $white);
}

// Publication List
//-----------------
.publication-list {
   // Component Title Color (Can Use Default Colors):
   //.component-title { @include component-title( $caes-blue, $white ); }
   .publication {}
}

// Blog Post List
//-----------------
.blog-post-list {
   // Component Title Color (Can Use Default Colors):
   // .component-title { @include component-title( $caes-blue, $white ); }
   .blog-post {
      @include clear();
   }
}

// Personnel List
//-----------------
.personnel-list {
   // Component Title Color (Can Use Default Colors):
   //.component-title { @include component-title( $caes-blue, $white ); }
   img { width: 200px; }
   .person {
      @include clear;
      // Associatioe, Phone, Email, etc List Styling
      .contact-items { margin-left: 0; margin-bottom: 0; }
      .contact-items li {
         list-style: none;
         display: inline-block;
         margin-right: 1em;
         margin-top: 0;
         margin-bottom: 0;
      }
      .job-title { font-family: 'Roboto Slab', serif; font-size: .8rem; font-weight: 700; margin: 0 0 0 0; }
   }
}

// Profile Page Template
//----------------------
.profile {
   ul { list-style: none; margin-left: 0; margin-bottom: 0; }
   img {
      @include breakpoint(medium down) { width: 50vm; width: 50vmin; }
      @include breakpoint(large) { width: 50vm; width: 50vmin; }
   }
   .affiliations li {
      display: inline;
      padding-right: 1em;
      @include breakpoint(small only) { display: block; }
   }
   .job-title { font-family: 'Roboto Slab', serif; font-size: rem-calc(18); font-weight: 700; margin: 0 0 0 0; color: $caes-red; }
   .subtitle { font-weight: 500; color: $dark-gray; text-transform: uppercase; font-size: rem-calc(14); }
   .profile-contact-items {  width: 100%; padding-bottom: 1em; }
   .profile-contact-items li {
      display: block;
      padding-right: 1em;
      // @include breakpoint(medium down) { display: block; }
   }
   .profile-address {
      span { @include clear(); }
      margin-top: 1em;
      float: left;
      margin-right: 1em;
      @include breakpoint(medium down) {
         width: 100%;
         float: none;
      }
   }
}

// Profile Plain List Component
//-----------------------------
.profile-component {
    .jobTitle { font-size: .8rem; }
    .affiliations { margin-left: 0; margin-bottom: 0; }
    .description { margin-top: 0; }
    .profile-contact-items {
        margin-left: 0;
        li {
            display: block;
        }
    }
}

// Personnel Page
.personnel-page-image {

}

// Social Media Icons
//-------------------
@mixin social-media-title() {
   .title {
      font-size: rem-calc(16);
      font-weight: 700;
      display: block;
   }
}

.social-media-icons {
   @include social-media-title();
   list-style: none;
   margin: 0;
   font-size: rem-calc(36);
   li { display: inline-block; }
}

.social-media-icons-vertical {
   @include social-media-title();
   list-style: none;
   margin: 0;
}


// Image Slider
//-------------
.orbit-container {
   .orbit-slide {
      width: 100%;
      height: 400px;
      margin: 0 auto;
      overflow: hidden;
      background: #000000;
   }
   .orbit-slide img {
      min-width: 600px;
      @include breakpoint(small only) {
         min-height: 100%;
      }
   }

   .caption-bottom-left {}
   .caption-top-left {
      @extend .orbit-caption;
      top: 0;
      bottom: 90 !important;
      margin-bottom: 345px;
      margin-top: -.4em;
   }
   .caption-bottom-right {
      text-align: right;
   }
   .caption-top-right {
      @extend .orbit-caption;
      top: 0;
      bottom: 90 !important;
      margin-bottom: 345px;
      text-align: right;
      margin-top: -.4em;
   }


}

.orbit-bullets button {
   width: .5em;
   height: .5em;
}

// Scholarships
//-------------
.scholarship-container {
   @include callout-base();
   // float: right;
   // margin-left: 1em;
   // width: 250px;
   .title { font-weight: 700; font-size: rem-calc(18); margin-bottom: .5em; }
   .description { font-size: rem-calc(14); }
   .button { margin-top: 1em; }
}


// Hall of Fame Gallery
//---------------------
.portraitgallery {
   margin-bottom: 2em !important;
}
.hall-of-fame-container {
   // display: flex;
   // flex-wrap: wrap;
   width: 100%;
   .hall-of-famer {
      text-align: center;
      // flex-grow: 1;
      // flex-basis: 25%;
      .img-container {
         overflow: hidden;
         margin-top: 1em;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: .2em;
         width: 190px;
         height: 190px;
         overflow: hidden;
         &:hover { box-shadow: 0 0 6px 1px rgba( darken($dark-gray, 15%) , 0.5) }
      }
      img {
         object-position: center;
         object-fit: cover;
         min-height: 100%;
         width: auto;
      }

      .name { margin-top: 0; font-weight: 700; font-size: rem-calc(16); display: block; }
      .date { margin-bottom: 2em; }
   }
}

// Image Gallery
//--------------
.image-gallery-container {
   margin-bottom: 2em;
   .tiled-list-item {
      transition: 250ms ease;
      &:hover {
         box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      }
   }

   div {
      img {
         width: 100%;
         height: auto;
         display: block;

      }
   }
}

// Google Map
//-----------
.google-map-container {
   list-style: none;
   margin: 0;
   font-weight: 700;
   font-size: rem-calc(16);
   border: none;
   margin-bottom: 2em;
   .image {
      margin-bottom: 1em;
   }
}




// EVENTS & NEWS
//--------------
// 1. Mixins
// 2.

// Featured Conent Mixin (For News & Events)
@mixin featured-content {
   position: relative;
   margin: 0 0 2em 0;
   width: 100%;
   transition: 250ms ease;
   overflow: hidden;
   &:hover {
      figcaption {
         background: rgba(65, 65, 65, 1);
         padding-left: 2em;
      }
   }
}
img {
   display: block;
}
figcaption {
   position: absolute;
   bottom: 0;
   left: 0;
   background: rgba(65, 65, 65, 0.78);
   display: block;
   margin-bottom: 0;
   transition: 250ms ease;
   font-family: 'Roboto Slab', serif;
   font-weight: 700;
   font-size: rem-calc(26);
   @include breakpoint(small only) {
      font-size: rem-calc(18);
   }
   padding: 1em;
   color: $white;
   .caption-tagline {
      font-family: 'Roboto', sans-serif;
      font-size: rem-calc(18);
      @include breakpoint(small only) {
         font-size: rem-calc(14);
      }
      display: block;
      margin-top: -10px;
   }
}

// Mixin For Single Event
@mixin event {
   // Calendar Icon
   .calendar-icon {
      background: $caes-red;
      color: $white;
      font-weight: 700;
      float: left;
      margin-right: 1em;
      width: 55px;
      height: 60px;
      text-align: center;
    //   padding-top: 5px;
      .month {
          color: $white;
          text-transform: uppercase;
      }
      .day {

          background: $white;
          color: $component-title-default-color;
          font-size: 1.5rem;
          width: 45px;
          height: 30px;
          margin: 0px 0px 15px 5px;
          text-align: center;
          vertical-align: middle;
          line-height: 30px;
      }
   }
}

// List
.event-list {
   // Component Title Color (Can Use Default Colors):
   .component-title { @include component-title( $caes-red, $white ); }
   .title { margin-top: -5px; }
   .event {
      @include event();
   }
   .full-date {
      background: lighten($light-gray, 5%);
      color: $caes-red;
      padding: .3em;
      font-weight: 700;
      text-transform: uppercase;
      font-size: rem-calc(12);
      margin-right: .5em;
   }
   .event-time {
      background: lighten($light-gray, 5%);
      color: $caes-red;
      padding: .3em;
      font-weight: 700;
      text-transform: uppercase;
      font-size: rem-calc(12);
   }
}


// Events Calendar (Main Page)
//----------------------------
.featured-event {
   @include featured-content;
}

// Event Page
//-----------
.event-page {
   h2 {
      margin-bottom: 0;
   }
   .date-and-time {
       margin-bottom: 3em;
   }
   .date {
      color: $caes-red;
      font-family: 'Roboto Slab', serif;
      float: left;
      margin-right: 2em;
      // font-weight: 700;
      transition: 250ms ease;
      font-size: rem-calc(22);
      @include breakpoint(small only) {
         font-size: rem-calc(18)
      }
      display: block;
   }
   .time {
      @extend .date;
      float: left;
   }
   .address {
      margin-top: 1em;
      margin-bottom: 1em;
      .place {
         font-weight: 700;
         display: block;
      }
      .city {
         font-weight: 500;
         color: $caes-dark-gray;
         text-transform: uppercase;
         font-size: rem-calc(12);
         display: block;
      }
   }
   .contact {
      .title {
         @extend .date;
         color: $caes-dark-gray;
         float: none;
      }
      .name {
         font-weight: 700;
      }
   }
   .contact-items {
      list-style: none;
      margin-left: 0;
      li {
         @include breakpoint(medium up) {
            display: inline-block;
            margin-right: 1em;
         }
      }
   }
}
// .event-page {
//    margin-bottom: 1em;
//    @include caes-list-style;
//    .event {
//       @include event;
//    }
//    .event-info {
//       margin-left: 4em;
//       @include breakpoint(small only) { margin-left: 0; }
//       .title {
//          font-family: 'Roboto', sans-serif;
//       }
//       .event-map {
//          margin-top: 1em;
//          display: block;
//
//       }
//    }
// }

// Add Event Form
//---------------
.remove-date {
    display: none;
}

.remove-location {
    display: none;
}

#ui-datepicker-div {
    background: $white;
    border: 1px solid $caes-gray;
}

// News List
//----------
.news-list {
   p { margin-bottom: 5px; }
}

// News Story Page
//----------------
.news-story-page {
   @include caes-list-style;
   @include event;
   padding: 0;
   margin-bottom: 4em;
   h2 { margin-bottom: -5px; }
   .tagline { margin-bottom: 1em; }
   // img { max-height: 400px; }
   .description { margin-top: 1em; }
   // Image Lightbox
   .news-lightbox {
      text-align: center;
      img {
         margin-top: 2em;
         width: 100%;
      }
      .description {
         float: left;
      }
      .img-download {
         float: right;
         margin-top: 1em;
      }
   }
   // About the Author
   .author {
      font-size: rem-calc(18);
      font-weight: bold;
   }
   // Read More Section
   .read-more {
      margin-top: 1em;
   }

}

// News Main Page
//---------------
.news-main-page {
   .orbit {
      margin-bottom: 2em;
      .orbit-container li {
        //  @include featured-content;
      }
   }
   .featured-story {
      @include featured-content;
   }
   // Additional Articles
   .news-list {
      margin-bottom: 2em;
   }
   // News Filters
   .filters-container {
      .component-title { @include component-title( $body-font-color, $white ); }
      margin-bottom: 1em;
      .news-search {
         margin: 0 .5em 0 .5em;
      }
      .filters {
         padding: 1em;
         list-style: none;
         margin-left: 0;
         margin-bottom: 2em;
         ul {
            list-style: none;
            margin-bottom: -1.5em;
         }
      }
   }
   // Subscribe / Subscriptions
   .subscribe {
      font-weight: bold;
      height: 56px;
      line-height: 30px;
      vertical-align: middle;
   }
}

// News Sidebar
//-------------
.news-list {
   .component-title { @include component-title( $caes-red, $white ); }
}


// News Subscription Page
//-----------------------

// News Accordion
.news-accordion-item {
   margin-bottom: 1em;
}
.news-accordion-title {
   display: block;
   width: 100%;
   padding: 1em;
   background: $caes-dark-gray;
   color: $white;
   cursor: pointer;
   transition: 250ms ease;
   &:hover {
      background: lighten($caes-dark-gray, 10%);
   }
}
.news-accordion-body {
   padding: 1em;
   display: none;
   border: 1px solid $caes-light-gray;
   overflow: auto;
}
.news-subscription-form {

}



// Personnel Directory
//--------------------
.personnel-directory {
   .title {
      font-family: 'Roboto Slab', serif;
      font-size: rem-calc(24);
      margin-bottom: .5em;
      display: block;
   }
}


// Donate Now
//-----------
.donate-now-container {
   width: 50%;
   margin: 0 auto 0 auto;
}



// Panel Component
//----------------
.content-panel {
   border: 1px solid $caes-light-gray;
   font-family: 'Roboto', sans-serif;
   padding: .5em;
   margin-bottom: 2em;
   p.image {
    //   padding: 0;
    //   background: $caes-light-gray;
    //   display: flex;
    //   justify-content: center;
    //   overflow: hidden;
    //   img {
    //       max-width: 5000px;
    //   }
   }
}

// Panel
.panel-strong {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 1em;
    // p.image {
    //    padding: 0;
    //    background: $caes-light-gray;
    //    display: flex;
    //    justify-content: center;
    //    overflow: hidden;
    // }
    // img {
    //     max-width: 5000px;
    // }
}

// Panel Quote Styles:
.quote {
   background: $caes-red;
   color: $white;
   a {
      color: $white;
      text-decoration: underline;
   }
   blockquote {
      color: $white;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
      border-left: solid 5px $white;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      &:before {
         color: $white;
         content: "\201C";
         font-size: 4em;
         line-height: 0.1em;
         margin-right: 0.15em;
         vertical-align: -0.4em;
      }
      &:after {
         color: $white;
         content: "\201D";
         font-size: 4em;
         line-height: 0.2em;
         margin-right: 0.15em;
         margin-left: 0.15em;
         vertical-align: -0.5em;
      }
      cite {
         color: $white !important;
         font-weight: bold !important;
      }
   }
}
// Temporary Fix for Quote Option
cite {
   color: $white !important;
   font-weight: bold !important;
}


// Rich Text
.span-button {
   a {
      color: $white;
   }
}

.button a {
   color: $white;
}

img.float-left {
    margin-right: 1em;
    margin-bottom: 1em;
}

img.float-right {
    margin-right: 1em;
    margin-bottom: 1em;
}

img.float-center {
    margin: 0 auto 0 auto;
}

div.float-center {
    img {
        margin: 0 auto 0 auto;
    }
}


// Featured Content Component
//---------------------------
.featured-blue {
   @include homepage-featured($caes-blue, $white);
}
.featured-red {
   @include homepage-featured($caes-red, $white);
}
.featured-green {
   @include homepage-featured($caes-green, $white);
}
.featured-yellow {
   @include homepage-featured($caes-yellow, $white);
}
.featured-gray {
@include homepage-featured($caes-light-gray, $caes-dark-gray);
}


// Dialog Links
.component-instructions {
    a {
        color: $caes-red;
        text-decoration: underline;
        cursor: pointer;
    }
    ul li a {
        color: $caes-red;
        text-decoration: underline;
        cursor: pointer;
    }
}






// Utility Classes
.spacer {
   height: 1000px;
}
