// Typography
// ----------

// Roboto (Used for headings)
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
// font-family: 'Roboto', sans-serif;

// Nunito (Avenir Alternative)
@import url(https://fonts.googleapis.com/css?family=Nunito:300);
// font-family: 'Nunito', sans-serif;

// Foundation Icons
@import "../fonts/foundation-icons/foundation-icons.css";


// UGA Branding
// ------------
.uga-button {
   @include button-style($caes-red, darken($caes-red, 10%), $white);
   height: 40px;
   font-size: rem-calc(14);
   font-weight: bold;
   text-transform: uppercase;
   padding-top: 5px;
   text-align: left;
   border-bottom-right-radius: 1em;
   border-bottom: solid 5px darken($caes-red, 5%);
   transition: border 0.25s ease-out, color 0.25s ease-out;
   &:hover { border-bottom: solid 5px darken($caes-red, 15%); }
   // Small Screen Width
   @include breakpoint(small) {
      width: 30%;
      min-width: 80px;
   }
   // Medium Screen Width
   @include breakpoint(medium) {
      width: 40%;
   }
   // Large Screen Width
   @include breakpoint(large) {
      width: 25%;
   }
}

// People Menu & Search
// --------------------
// People Button:
.people-button {
   @include button-style($caes-blue, darken($caes-blue, 10%), $white);
   border-bottom-left-radius: 1em;
   border-bottom: solid 5px darken($caes-blue, 5%);
   transition: border 0.25s ease-out, color 0.25s ease-out;
   &:hover { border-bottom: solid 5px darken($caes-blue, 15%); }
   height: 40px;
}

// Dropdown margin fix:
.dropdown-pane {
   left: 0;
}

// Search Button:
.search-button {
   @include button-style($caes-red, darken($caes-red, 10%), $white);
   border-bottom: solid 5px darken($caes-red, 5%);
   transition: border 0.25s ease-out, color 0.25s ease-out;
   &:hover { border-bottom: solid 5px darken($caes-red, 15%); }
   height: 40px;
}

// CAES Branding
// -------------
#caesBranding {
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   line-height: 1;
   margin-top: 0em;
   // Large screen left margin:
   @include breakpoint(large up) {
      padding-left: .5em;
   }
   span {
      font-weight: 400;
      font-size: rem-calc(16);
      text-transform: uppercase;
      display: block;
      // Small Screen Font Reduction
      @include breakpoint(small only) {
         font-size: rem-calc(12);
      }
   }
}

// Main Navigation
// ---------------

$nav-bg-color: darken($dark-gray, 30%);
$nav-link-color: $light-gray;
$nav-arrow-color: $nav-link-color;

nav { margin-top: 1em; }

#mainNav {

   background: $nav-bg-color;
   border-bottom-left-radius: 1em;
   border-bottom-right-radius: 1em;
   border-bottom: solid 5px darken($nav-bg-color, 10%);
   padding-left: .8em;
   @include breakpoint(large down) {
      border-bottom-left-radius: 0em;
      border-bottom-right-radius: 0em;
      border-bottom: solid 5px darken($nav-bg-color, 5%);
      padding-left: 0em;
   }

   li {
      background: $nav-bg-color;
      padding-top: .5em;
      padding-bottom: .5em;

      &:hover { background: lighten($nav-bg-color, 10%); }
      // NEED FOCUS & ACTIVE STATES
      a {
         color: $nav-link-color;
         font-size: rem-calc(14);
         font-weight: bold;
         @include breakpoint(medium down) {
            font-size: rem-calc(12);
         }
      }
   }

   // Drilldown arrow styling
   .is-drilldown-submenu-parent > a::after {
      border-color: transparent transparent transparent $nav-arrow-color;
   }

}



// Fix for dropdown direction
@include breakpoint(medium up){
   .medium-horizontal{
      .is-dropdown-submenu{
         top: 100%;
         left: 0
      }
      .is-dropdown-submenu-parent.opens-left .is-dropdown-submenu{
         right: 0
      }
   }
}

// Fix for arrow direction
@include breakpoint(medium up){
   .medium-horizontal{
      .is-dropdown-submenu-parent.is-right-arrow > a::after {
         border-width: 5px;
         margin-top: 6px;
         border-style: solid solid inset inset;
         border-color: $nav-arrow-color transparent transparent;
      }
   }
}

// Fix for arrow direction
@include breakpoint(medium down){
   .medium-horizontal{
      .is-dropdown-submenu-parent.is-right-arrow > a::after {
         border-width: 4px;
         //margin-top: 6px;
         margin-left: 5px;
         //border-style: solid solid inset inset;
         //border-color: $primary-color transparent transparent;
      }
   }
}
