// Typography
// ----------

// Roboto (Used for headings)
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
// font-family: 'Roboto', sans-serif;

// Nunito (Avenir Alternative)
@import url(https://fonts.googleapis.com/css?family=Nunito:300);
// font-family: 'Nunito', sans-serif;

// Foundation Icons
@import "../fonts/foundation-icons/foundation-icons.css";

// Global Mixins
// -------------
@mixin headerLinks() {
   font-size: rem-calc(14);
   font-weight: bold;
   a {
      font-size: rem-calc(14);
      font-weight: bold;
   }
}

// UGA Branding
// ------------
.uga-button {
   @include button-style($caes-red, darken($caes-red, 10%), $white);
   height: 40px;
   // Typography
   @include headerLinks;
   text-transform: uppercase;
   text-align: left;
   padding-top: 5px;
   // Borders
   border-bottom-right-radius: 1em;
   border-bottom: solid 5px darken($caes-red, 5%);

   &:hover {
      border-bottom: solid 5px darken($caes-red, 15%);
      background: darken($caes-red, 10%);
      transition: all 250ms ease;
   }

   // Small Screen Width
   @include breakpoint(small) {
      width: 30%;
      min-width: 80px;
   }
   // Medium Screen Width
   @include breakpoint(medium) {
      width: 40%;
   }
   // Large Screen Width
   @include breakpoint(large) {
      width: 25%;
   }
}

// People Menu
// --------------------
// People Button:
.people-button {
   // Button Style
   @include button-style($light-gray, darken($light-gray, 10%), $body-font-color);
   height: 40px;
   // Typography
   @include headerLinks;
   // Borders
   border-bottom-left-radius: 1em;
   border-bottom: solid 5px darken($light-gray, 10%);
   // Button Hover
   &:hover {
      border-bottom: solid 5px darken($light-gray, 15%);
      transition: all 250ms ease;
   }
   // Custom Arrow Color
   &::after { border-color: $body-font-color transparent transparent !important; }
}

// People Dropdown Pane
#peopleDropdown {
   padding-left: 0;
   padding-right: 0;
   border-color: $medium-gray;

   // Typography
   @include headerLinks;

   // On Small:
   @include breakpoint(small only) {
      width: 100%;
      padding-right: 2px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      .is-drilldown { min-width: 100%; }
   }

   // Custom Breakpoint Medium
   @media (min-width: 640px) and (max-width: 800px) {
      top: 45px !important;
      left: 65% !important;
      border-top-left-radius: 1em;
      width: 206px;
   }

   // Custom Breakpoint Medium
   @media (min-width: 800px) and (max-width: 950px) {
      top: 45px !important;
      left: 73% !important;
      border-top-left-radius: 1em;
      width: 206px;
   }

   // Custom Breakpoint Medium
   @media (min-width: 950px) and (max-width: 1024px) {
      top: 45px !important;
      left: 76% !important;
      border-top-left-radius: 1em;
      width: 206px;
   }

   // Custom Breakpoint Upper Medium
   @media (min-width: 1024px) and (max-width: 1200px) {
      top: 45px !important;
      left: 80% !important;
      border-top-left-radius: 1em;
      width: 206px;
   }

   // On Large:
   @include breakpoint(large up) {
      width: 206px;
      border-top-left-radius: 1em;
   }

   // People Drilldown Menu:
   .is-drilldown { width: 100%; li:hover { background: $light-gray; transition: all 250ms ease; } }

}

// Dropdown margin fix (Prevents blank overflow on page before people dropdown is activated):
.dropdown-pane {
   left: 0;
}

// Site Search
// --------------------
// Search Button:
.search-button {
   @include button-style($caes-red, darken($caes-red, 10%), $white);
   border-bottom: solid 5px darken($caes-red, 5%);
   transition: border 0.25s ease-out, color 0.25s ease-out;
   &:hover { border-bottom: solid 5px darken($caes-red, 15%); }
   height: 40px;
}

// CAES Branding
// -------------
#caesBranding {
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   line-height: 1;
   margin-top: 0em;
   // Large screen left margin:
   @include breakpoint(large up) {
      padding-left: .5em;
   }
   span {
      font-weight: 400;
      font-size: rem-calc(16);
      text-transform: uppercase;
      display: block;
      // Small Screen Font Reduction
      @include breakpoint(small only) {
         font-size: rem-calc(12);
      }
   }
}

// Main Navigation
// ---------------

$nav-bg-color: darken($dark-gray, 30%);
$nav-link-color: $light-gray;
$nav-arrow-color: $nav-link-color;

nav { margin-top: 1em; }

#mainNav {
   background: $nav-bg-color;
   border-bottom-left-radius: 1em;
   border-bottom-right-radius: 1em;
   border-bottom: solid 5px darken($nav-bg-color, 10%);
   padding-left: .8em;
   @include breakpoint(large down) {
      border-bottom-left-radius: 0em;
      border-bottom-right-radius: 0em;
      border-bottom: solid 5px darken($nav-bg-color, 5%);
      padding-left: 0em;
   }

   li {
      background: $nav-bg-color;
      padding-top: .5em;
      padding-bottom: .5em;

      &:hover { background: lighten($nav-bg-color, 10%); }
      // NEED FOCUS & ACTIVE STATES
      a {
         color: $nav-link-color;
         font-size: rem-calc(14);
         font-weight: bold;
         @include breakpoint(medium down) {
            font-size: rem-calc(12);
         }
      }
   }

   // Drilldown arrow styling
   .is-drilldown-submenu-parent > a::after {
      border-color: transparent transparent transparent $nav-arrow-color;
   }

   // Dropdown Submenu li container
   ul {
      background: $nav-bg-color;
      //border-top: solid 5px darken($nav-bg-color, 10%);
      //border-left: none;
      //border-right: none;
      border: none;
   }
   // Dropdown Submenus li
   .is-dropdown-submenu-item {
      background: $nav-bg-color;
      padding: .2em;
   }

}

// Small Screen Menu Bar
.title-bar {
   // Menu Bar
   background: $nav-bg-color;
   // Menu Text
   .title-bar-title { @include headerLinks; }
   // Hamburger Icon
   .menu-icon::after { box-shadow: 0 6px 0 #fefefe, 0 12px 0 #fefefe; }
}

// Fix for dropdown direction
@include breakpoint(medium up) {
   .medium-horizontal{
      .is-dropdown-submenu{
         top: 100%;
         left: 0;
      }
      .is-dropdown-submenu-parent.opens-left .is-dropdown-submenu{
         right: 0
      }
   }
}

// Fix for arrow direction
@include breakpoint(medium up) {
   .medium-horizontal{
      .is-dropdown-submenu-parent.is-right-arrow > a::after {
         border-width: 5px;
         margin-top: 6px;
         border-style: solid solid inset inset;
         border-color: $nav-arrow-color transparent transparent;
      }
   }
}

// Fix for arrow direction
@include breakpoint(medium down) {
   .medium-horizontal{
      .is-dropdown-submenu-parent.is-right-arrow > a::after {
         border-width: 4px;
         margin-left: 5px;
         margin-top: 5px;
      }
   }
}
