// Subsite Main Navigation
//------------------------
$caes-dark-gray: #3e3e3e;
$caes-light-gray: lighten($medium-gray, 10%);

// Mobile Title Bar
.subsite-title-bar {
   @extend .title-bar;
   background: $caes-light-gray;
   .title-bar-title { color: $caes-dark-gray; }
   // Hamburger Icon
   .menu-icon { vertical-align: middle; margin-top: -15px; }
   .menu-icon::after { background: $caes-dark-gray; }
   .menu-icon::after { box-shadow: 0 6px 0 $caes-dark-gray, 0 12px 0 $caes-dark-gray; }
}

#subsiteNav {
   @extend #mainNav;
   // Arrow Color Mixin
   @mixin arrowColor($color) {
      .is-dropdown-submenu-parent.is-right-arrow > a::after {
         border-color: $color transparent transparent;
      }
   };
   @include arrowColor($caes-dark-gray);
   // Nav Style
   background: $caes-light-gray;
   border-bottom: 1px solid darken($caes-light-gray, 10%);
   // Top Level
   li {
      background: $caes-light-gray;
      a { color: $caes-dark-gray; }
      &:hover { background: darken($caes-light-gray, 30%); }
      &:hover { a { color: $white; } }
      // Arrow Hover Color
      &:hover {
         a::after {
            border-color: $white transparent transparent !important;
         }
      }
   }
   // Top Level Active
   li.active {
      background: darken($caes-light-gray, 10%) !important;
      &:hover { background: darken($caes-light-gray, 30%) !important; }
   }

   // Dropdown Styling (2nd Level)
   .is-dropdown-submenu-item {
      background: $caes-light-gray;
      border-left: 1px solid darken($caes-light-gray, 10%);
      border-right: 1px solid darken($caes-light-gray, 10%);
      a { color: $caes-dark-gray !important; }
      &:hover {
         border-left: 1px solid darken($caes-light-gray, 30%);
         border-right: 1px solid darken($caes-light-gray, 30%);
         a { color: $white !important; } }
   }
   // Drilldown Styling
   .is-drilldown-submenu-item {
      a { color: $caes-dark-gray !important; }
      &:hover { a {color: $white !important;} }
   }
   // Drilldown Back Button Styling
   .js-drilldown-back {
      a { color: $caes-dark-gray !important; }
      &:hover { a { color: $white !important; } }
   }
}


// Subsite Side Navigation
//------------------------
.submenu {
   // Medium/Large Collapse
   margin-right: -15px;
   // Small Uncollapse
   @include breakpoint (small only) { margin-right: 0px; }
}
.submenu ul {
   // Hover Mixin
   @mixin submenuHover() { &:hover { background: darken($caes-light-gray, 5%); } }
   // Parent
   .parent {
      font-weight: 700;
      background: $caes-light-gray;
      border-bottom: solid 1px darken($caes-light-gray, 10%);
      font-size: rem-calc(16);
      @include submenuHover();
   }
   // Silbings
   li {
      font-size: rem-calc(14);
      @include submenuHover();
   }
   // Active
   .active {
      font-weight: 700;
      background: $caes-light-gray;
      a { color: $caes-dark-gray; }
   }
   // Children
   .children a { padding-left: 2em; font-weight: 700; }
}
