// Subsite Nav
//------------
// Custom Project Colors:
$caes-red: #c41039; // Standard UGA Red
$caes-gray: #777; // Medium Gray
$caes-green: rgb(51, 153, 102); // Green (Used for "Extension" Section)
$caes-yellow: #ffa02f; // Yellow (Used for "Research" Section)
$caes-blue: #0083aa; // Blue (Used for the "Academics Section")
// Global Foundation Colors:
$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$primary-color: $caes-red;
$secondary-color: #e6e6e6;
$success-color: $caes-green;
$warning-color: $caes-yellow;
$alert-color: #ec5840;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$darker-gray: darken($dark-gray, 30%);
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: darken($dark-gray, 30%);
$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-antialiased: true;
$global-weight-normal: normal;
$global-weight-bold: bold;
$subsite-nav-bg-color: $light-gray;

// Global Mixins
// -------------
@mixin headerLinks() {
   font-size: rem-calc(14);
   font-weight: bold;
   a {
      font-size: rem-calc(14);
      font-weight: bold;
   }
}


// UGA Branding for Subsite
// ------------
.subsite-branding-buttons {
   a { height: 40px; font-weight: bold;}
   // UGA Button
   .subsite-uga {
      padding-top: 5px;
      border-bottom: solid 5px darken($caes-red, 5%);
   }
   // CAES Button
   .subsite-caes {
      color: $darker-gray;
      border-bottom: solid 5px darken($light-gray, 5%);
      border-bottom-right-radius: 1em;
      // Button Hover
      &:hover {
         color: $darker-gray;
         border-bottom: solid 5px darken($light-gray, 20%);
         transition: all 250ms ease;
      }
      // Custom Arrow Color
      &::after { border-color: $darker-gray transparent transparent !important; }
   }
}

nav {
   margin-top: 1em;
}

#mainNav {
   background: $light-gray;
   border-bottom-left-radius: 1em;
   border-bottom-right-radius: 1em;
   border-bottom: solid 5px $medium-gray;
   padding-left: 0.8em;

   li {
      background: $light-gray;
      color: $darker-gray;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      &:hover { background: $medium-gray; }
      a {
         color: $darker-gray;
         font-size: 0.875rem;
         font-weight: bold;
      }
   }

   // Large Screen
   @media screen and (max-width: 74.9375em) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: solid 5px $medium-gray;
      padding-left: 0;
   }

   // Medium Screen
   @media screen and (max-width: 63.9375em) {
      font-size: 0.75rem;
   }

   // Dropdown
   .is-dropdown-submenu-item {
      background: $light-gray;
      padding: 0.2em;
   }

}

#mainNav .is-drilldown-submenu-parent > a::after {
   border-color: transparent transparent transparent $darker-gray;
}

/*
#mainNav ul {
   background: #3e3e3e;
   border: none;
}

*/

// Small Screen Title Bar
.title-bar {
   background: $light-gray;
   // "Menu" Text
   .title-bar-title {
      font-size: 0.875rem;
      font-weight: bold;
      color: $darker-gray;
   }
   // Hamburger Icon
   .menu-icon::after {
      box-shadow: 0 6px 0 $darker-gray, 0 12px 0 $darker-gray;
      background: $darker-gray;
   }
}

.title-bar .title-bar-title a {
   font-size: 0.875rem;
   font-weight: bold;
}


// Arrow Direction and Color
@media screen and (min-width: 40em) {
   .medium-horizontal .is-dropdown-submenu {
      top: 100%;
      left: 0;
   }
   .medium-horizontal .is-dropdown-submenu-parent.opens-left .is-dropdown-submenu {
      right: 0;
   }
}
@media screen and (min-width: 40em) {
   .medium-horizontal .is-dropdown-submenu-parent.is-right-arrow > a::after {
      border-width: 5px;
      margin-top: 6px;
      border-style: solid solid inset inset;
      border-color: $darker-gray transparent transparent;
   }
}
@media screen and (max-width: 63.9375em) {
   .medium-horizontal .is-dropdown-submenu-parent.is-right-arrow > a::after {
      border-width: 4px;
      margin-left: 5px;
      margin-top: 5px;
   }
}


// Submenu
.submenu {
   font-size: .9rem;
   font-weight: bold;
   background: $light-gray;
   padding-top: 1em;
   border-bottom: solid 5px $medium-gray;
   .title { padding-left: 1em; }
   li:hover { background: $medium-gray; }

}
